In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import re
import config #contains hidden api key

## VOA column headers

I can't find the VOA column headers so have had to take them from the data description pdf [here](https://voaratinglists.blob.core.windows.net/html/documents/2017%20Compiled%20List%20and%20SMV%20Data%20Specification.pdf)

In [3]:
VOA_headers_raw= ["Incrementing Entry Number", "Billing Authority Code", "NDR Community Code", 
 "BA Reference Number", "Primary And Secondary Description Code", "Primary Description Text",
"Unique Address Reference Number UARN", "Full Property Identifier", "Firms Name", "Number Or Name",
"Street", "Town", "Postal District", "County", "Postcode", "Effective Date", "Composite Indicator",
 "Rateable Value", "Appeal Settlement Code", "Assessment Reference", "List Alteration Date", "SCAT Code And Suffix",
 "Sub Street level 3", "Sub Street level 2", "Sub Street level 1", "Case Number", 
 "Current From Date", "Current To Date", 
]

#set to lower and replace spaces with underscore to turn the names into appropriate column names
VOA_headers = [x.lower().replace(" ", "_") for x in VOA_headers_raw]

Using the attention mechanism dramatically improves the quality of the results, but there are still some substantial issues

In [4]:
voa_businesses =  pd.read_csv('/tf/empty_homes_data/' +
                    'uk-englandwales-ndr-2017-listentries-compiled-epoch-0029-baseline-csv.csv',
                   sep = "*",
                   encoding_errors= 'ignore',
                    header=None,
                   names = VOA_headers[1:],
                    usecols = list(range(1,28))
                   )
voa_businesses['postcode'] = voa_businesses['postcode'].str.upper()

#Create a dataframe that contains the counts of businesses per postcode
postcode_counts_voa = voa_businesses.groupby('postcode').size().reset_index(name = 'business_counts')

<ipython-input-4-0afde0e66eed>:1: DtypeWarning: Columns (1,2,6,12,13,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  voa_businesses =  pd.read_csv('/tf/empty_homes_data/' +

In [5]:
voa_businesses["street"]

0             ABBEYFIELDS
1             ABBEYFIELDS
2             ADAMS CLOSE
3             ADAMS CLOSE
4             ADAMS CLOSE
                ...
2553594       HAMLET ROAD
2553595    WHITING STREET
2553596     HOLLANDS ROAD
2553597     HOLLANDS ROAD
2553598          FEN BANK
Name: street, Length: 2553599, dtype: object

In [6]:
voa_businesses#.iloc[:, 6:14]

,billing_authority_code,ndr_community_code,ba_reference_number,primary_and_secondary_description_code,primary_description_text,unique_address_reference_number_uarn,full_property_identifier,firms_name,number_or_name,street,...,appeal_settlement_code,assessment_reference,list_alteration_date,scat_code_and_suffix,sub_street_level_3,sub_street_level_2,sub_street_level_1,case_number,current_from_date,current_to_date
0,235,NaN,3000837,MH,SURGERY AND PREMISES,4159370000,"MEDICAL CENTRE, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,MEDICAL CENTRE,ABBEYFIELDS,...,NaN,2.345050e+10,01-JUL-2020,436G,NaN,NaN,NaN,3.427498e+10,01-JUL-2020,NaN
1,235,NaN,3000449,EL,SCHOOL AND PREMISES,8871511000,"ELSTOW SCHOOL, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,ELSTOW SCHOOL,ABBEYFIELDS,...,NaN,2.038070e+10,11-MAR-2019,159G,NaN,NaN,NaN,3.334318e+10,11-MAR-2019,NaN
2,235,NaN,3001255,IF,FACTORY AND PREMISES,287299011,"5, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,5,ADAMS CLOSE,...,NaN,1.574437e+10,NaN,096G,NaN,NaN,NaN,2.096310e+10,01-APR-2017,NaN
3,235,NaN,1077209,IF3,WORKSHOP AND PREMISES,456757000,"WOBURN HOUSE 3, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,WOBURN HOUSE 3,ADAMS CLOSE,...,NaN,1.574433e+10,NaN,096G,NaN,NaN,NaN,2.092087e+10,01-APR-2017,NaN
4,235,NaN,1132714,IF,FACTORY AND PREMISES,287049011,"1, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,1,ADAMS CLOSE,...,NaN,2.145827e+10,06-NOV-2019,096G,NaN,NaN,NaN,3.363070e+10,06-NOV-2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553594,3545,NaN,401107480030,CO,OFFICES AND PREMISES,13296010000,"OFFICES 6-8 1ST FLOOR, WEAVERS BUSINESS CENTR...",NaN,OFFICES 6-8 1ST FLOOR,HAMLET ROAD,...,NaN,2.389786e+10,25-MAY-2021,203G,NaN,NaN,WEAVERS BUSINESS CENTRE 6,3.534281e+10,25-MAY-2021,NaN
2553595,3545,NaN,400718980142,CO,OFFICES AND PREMISES,13296011000,"ROOMS G/H, HOSTE HOUSE REFORMED CHURCH, WHITIN...",NaN,ROOMS G/H,WHITING STREET,...,NaN,2.389786e+10,25-MAY-2021,203G,NaN,NaN,HOSTE HOUSE REFORMED CHURCH,3.534281e+10,25-MAY-2021,NaN
2553596,3545,NaN,401146540116,CO,OFFICE AND PREMISES,13511012000,"UNIT 6, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 6,HOLLANDS ROAD,...,NaN,2.431176e+10,08-NOV-2021,203G,NaN,NaN,MENTA BUSINESS CENTRE 21-27,3.560966e+10,08-NOV-2021,NaN
2553597,3545,NaN,401146540114,CO,OFFICE AND PREMISES,13511008000,"UNIT 5, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 5,HOLLANDS ROAD,...,NaN,2.431171e+10,08-NOV-2021,203G,NaN,NaN,MENTA BUSINESS CENTRE 21-27,3.560965e+10,08-NOV-2021,NaN
2553598,3545,NaN,439110070082,CH1,SELF CATERING HOLIDAY UNIT AND PREMISES,13511033000,"82, SANDPIPER, ISLEHAM MARINA, FEN BANK, ISLEH...",NaN,82,FEN BANK,...,NaN,2.422966e+10,25-OCT-2021,131G,NaN,SANDPIPER,ISLEHAM MARINA,3.560971e+10,25-OCT-2021,NaN

## Find business counts per postcode

In [3]:
ocod_data =  pd.read_csv('/tf/empty_homes_data/' +
                    'OCOD_FULL_2022_02.csv',
                   encoding_errors= 'ignore').rename(columns = lambda x: x.lower().replace(" ", "_"))
ocod_data['postcode'] = ocod_data['postcode'].str.upper()
ocod_data = ocod_data.dropna(subset = 'property_address')
ocod_data.reset_index(inplace = True, drop = True)
ocod_data['property_address'] = ocod_data['property_address'].str.lower()
#ocod_data['postcode'] = ocod_data['postcode'].str.replace(" ", "")

<ipython-input-3-10b198a5ff45>:1: DtypeWarning: Columns (24,28,30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  ocod_data =  pd.read_csv('/tf/empty_homes_data/' +

In [5]:

flatregex = r"(the.+)?(flat|apartment|penthouse)(s)?(\s(no)?(\S+?)(\s|,)(\s?(to|-)\s?.+?(\s|,))?|,)"
road_regex = r"(road|street|lane|way|avenue|close|drive|hill|place|terrace|crescent|gardens|square|walk|grove|mews|row)(\s(east|west|north|south))?"

flatregex2 = r"(mansions|villas|court)(?!(\s"+road_regex+"))"
    
#flatregex2 = r"^(^[0-9]+([a-z])?)(( \\w+)('s)?)+ (court|villas|mansions)"
ocod_data['flat_tag'] = ocod_data['property_address'].str.contains(flatregex + '|'+flatregex2, case = False)

commercial_regex = "(cinema)|(hotel)|(office)|(pub)|(business)|(cafe)|(^shop)|( shop)|(restaurant)|unit"
ocod_data['business_tag'] = ocod_data['property_address'].str.contains(commercial_regex, case = False)

ocod_data['carpark_tag'] = ocod_data['property_address'].str.contains("^car |^park|^garage", case = False)
#ocod_data['garage_tag'] = ocod_data['property_address'].str.contains("", case = False)

ocod_data['land_tag'] = ocod_data['property_address'].str.contains("^(land|plot)", case = False)

ocod_data['airspace_tag'] = ocod_data['property_address'].str.contains("^airspace", case = False)

named_house_regex = "^([a-z]+)( [a-z]+)* (house|court|farm|villa|cottage|lodge)(s)?"
ocod_data['named_house_tag'] = ocod_data['property_address'].str.contains(named_house_regex, case = False)

ocod_data['comma_counts'] = ocod_data['property_address'].str.count(",")


#this regex indicates that there are multple properties in the format "xx to yy" or "xx-yy" way of writing things
xx_to_yy_regex = r'(\d)(\s?(to|-)\s?)(\d)'#'(\\s(no)?(\\S+?)(\\s|,)(\\s?(to|-)\\s?.+?(\\s|,))?|,)'
odds_evens_regex = r'(\s|\()?(odd|even)'
plural_dwelling_regex = r'(flats|apartments|penthouses|houses)'
ocod_data['xx_to_yy'] = ocod_data['property_address'].str.contains(xx_to_yy_regex )
ocod_data['odds_evens'] = ocod_data['property_address'].str.contains(odds_evens_regex)
ocod_data['plural_dwelling'] = ocod_data['property_address'].str.contains(plural_dwelling_regex)

<ipython-input-5-d876b3f7db47>:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['flat_tag'] = ocod_data['property_address'].str.contains(flatregex + '|'+flatregex2, case = False)
<ipython-input-5-d876b3f7db47>:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['business_tag'] = ocod_data['property_address'].str.contains(commercial_regex, case = False)
<ipython-input-5-d876b3f7db47>:15: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['land_tag'] = ocod_data['property_address'].str.contains("^(land|plot)", case = False)
<ipython-input-5-d876b3f7db47>:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['named_house_tag'] = ocod_data['property_address'].str.contains(named_house_regex, case = False)
<ipython-input-5-d876b3f7db47>:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['xx_to_yy'] = ocod_data['property_address'].str.contains(xx_to_yy_regex )
<ipython-input-5-d876b3f7db47>:30: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['odds_evens'] = ocod_data['property_address'].str.contains(odds_evens_regex)
<ipython-input-5-d876b3f7db47>:31: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['plural_dwelling'] = ocod_data['property_address'].str.contains(plural_dwelling_regex)

In [ ]:
ocod_data[['property_address', 'flat_tag']].rename(columns = {'property_address':'text'}).to_csv('/tf/empty_homes_data/property_address_only.csv')

In [15]:
test_regex = r"((\d+)(\s?(to|-)\s?)(\d+)\b)(?!(\s([a-z])+('s)?)+(\s(road|street|lane|wayavenue|close|drive|hill|place|terrace|crescent|gardens|square|walk|grove|mews|row)))"
ocod_data['property_address'].str.contains(test_regex).sum()

<ipython-input-15-97063ddfa5ee>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(test_regex).sum()

4255

In [6]:
 ocod_data[ocod_data['property_address'].str.contains('excluding', case = False)==True]

,title_number,tenure,property_address,district,county,region,postcode,multiple_address_indicator,price_paid,proprietor_name_(1),...,flat_tag,business_tag,carpark_tag,land_tag,airspace_tag,named_house_tag,comma_counts,xx_to_yy,odds_evens,plural_dwelling
38,SYK594298,Freehold,"1-25 (excluding 13) acorn way, sunnyside, roth...",ROTHERHAM,SOUTH YORKSHIRE,YORKS AND HUMBER,S66 3XH,N,NaN,ABACUS LAND 1 (HOLDCO 1) LIMITED,...,False,False,False,False,False,False,2,True,False,False
1901,NGL421367,Freehold,the open ended garage in the basement of the b...,CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,NaN,N,NaN,38 TP LIMITED,...,False,False,False,False,False,False,1,False,False,False
5590,HD416123,Freehold,"1 to 16 (excluding 13) barge house, evans whar...",DACORUM,HERTFORDSHIRE,SOUTH EAST,HP3 9WE,N,NaN,ADRIATIC LAND 11 LIMITED,...,False,False,False,False,False,False,2,True,False,False
7758,236218,Freehold,17 to 27 (odd)(excluding 19) hill street and 3...,CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,NaN,N,NaN,BERKELEY SQUARE HOLDINGS LIMITED,...,False,False,False,False,False,False,6,True,True,False
19975,NGL585687,Leasehold,parts of 71 queen victoria street as more part...,CITY OF LONDON,GREATER LONDON,GREATER LONDON,NaN,N,NaN,QUEEN V PROPERTY UK I LTD,...,False,False,False,False,False,False,0,False,False,False
29454,NGL881926,Leasehold,10 old burlington street excluding parts of th...,CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,NaN,N,NaN,10-13 OLD BURLINGTON STREET LIMITED,...,False,False,False,False,False,False,0,False,False,False
32870,SYK594213,Leasehold,1 to 69 (odd but excluding 13) and 2 to 44 (ev...,SHEFFIELD,SOUTH YORKSHIRE,YORKS AND HUMBER,NaN,N,3902021.0,ADRIATIC LAND 3 LIMITED,...,False,False,False,False,False,False,0,True,True,False
42138,EGL375156,Leasehold,"floor 36 (excluding common parts), 1 canada sq...",TOWER HAMLETS,GREATER LONDON,GREATER LONDON,E14 5DX,N,NaN,EULER HERMES CREDIT INSURANCE BELGIUM SA (NV),...,False,False,False,False,False,False,2,False,False,False
42182,AGL470670,Leasehold,airspace from a height of 30.300 metres above ...,HACKNEY,GREATER LONDON,GREATER LONDON,N1 6AZ,N,NaN,O & R LIMITED,...,False,False,False,False,True,False,3,False,False,False
42273,BM252802,Leasehold,two parcels of land forming part of great west...,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,SOUTH EAST,NaN,N,NaN,ROCKSPRING UK VALUE 2 AYLESBURY (JERSEY) LIMITED,...,False,False,False,False,False,False,3,False,False,False
56987,NGL804993,Leasehold,"1 to 16 frognal parade, 1 to 12 and 14 to 45 f...",CAMDEN,GREATER LONDON,GREATER LONDON,NaN,N,NaN,F & M (INVESTMENT HOLDINGS) LIMITED,...,True,False,False,False,False,False,11,True,False,False
68334,EGL385014,Leasehold,"exchange tower building, two harbour exchange ...",TOWER HAMLETS,GREATER LONDON,GREATER LONDON,NaN,N,NaN,CARETOWN LIMITED,...,False,False,False,False,False,False,4,False,False,False
86301,NGL799073,Leasehold,"the lower ground, ground, first, second, third...",CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,W1S 1DQ,N,NaN,GIORGIO ARMANI RETAIL S.R.L.,...,False,False,False,False,False,False,7,False,False,False

In [14]:
ocod_data.columns

Index(['title_number', 'tenure', 'property_address', 'district', 'county',
       'region', 'postcode', 'multiple_address_indicator', 'price_paid',
       'proprietor_name_(1)', 'company_registration_no._(1)',
       'proprietorship_category_(1)', 'country_incorporated_(1)',
       'proprietor_(1)_address_(1)', 'proprietor_(1)_address_(2)',
       'proprietor_(1)_address_(3)', 'proprietor_name_(2)',
       'company_registration_no._(2)', 'proprietorship_category_(2)',
       'country_incorporated_(2)', 'proprietor_(2)_address_(1)',
       'proprietor_(2)_address_(2)', 'proprietor_(2)_address_(3)',
       'proprietor_name_(3)', 'company_registration_no._(3)',
       'proprietorship_category_(3)', 'country_incorporated_(3)',
       'proprietor_(3)_address_(1)', 'proprietor_(3)_address_(2)',
       'proprietor_(3)_address_(3)', 'proprietor_name_(4)',
       'company_registration_no._(4)', 'proprietorship_category_(4)',
       'country_incorporated_(4)', 'proprietor_(4)_address_(1)',
       'proprietor_(4)_address_(2)', 'proprietor_(4)_address_(3)',
       'date_proprietor_added', 'additional_proprietor_indicator', 'flat_tag',
       'business_tag', 'carpark_tag', 'land_tag', 'airspace_tag',
       'named_house_tag', 'comma_counts', 'xx_to_yy', 'odds_evens',
       'plural_dwelling'],
      dtype='object')

In [11]:
columns_of_interest = ['title_number', 'tenure', 'property_address', 'district', 'county',
       'region', 'postcode', 'multiple_address_indicator', 'price_paid',
      'flat_tag',
       'business_tag', 'carpark_tag', 'land_tag', 'named_house_tag',
       'comma_counts', 'plural_dwelling', 'xx_to_yy','odds_evens',
       'odds_evens']

In [57]:
#ocod_data.loc[(ocod_data['xx_to_yy']==True) | (ocod_data['plural_dwelling']==True)| (ocod_data['odds_evens']==True),columns_of_interest].to_csv('/tf/empty_homes_data/multi_flat.csv')

In [60]:
ocod_data.groupby(['business_tag' ]).size()

business_tag
False    88624
True      5464
dtype: int64

In [6]:
ocod_data[(ocod_data['property_address'].str.contains("apartments ", case = False)==True) & 
         (ocod_data['property_address'].str.contains(" land", case = False)!=True) &
         (ocod_data['property_address'].str.contains("^land", case = False)!=True)].to_csv("/tf/empty_homes_data/multiple_apartments.csv")

In [12]:
#add in the counts of businesses in that postcode
ocod_data = pd.merge(ocod_data, postcode_counts_voa, on = "postcode", how = "left")
ocod_data["business_counts"] = ocod_data["business_counts"].fillna(0)

In [13]:
#classify the property type using this tree structure. 
#N.B. If you use the conditions in a different order you will get differencet results
#This produces rule based noisey labels. The idea is to have a good enough system that can be improved on
ocod_data['class'] = np.select(
    [
        ocod_data['flat_tag']==True,
        ocod_data['land_tag'] == True,
        ocod_data['carpark_tag'] == True,
        ocod_data['airspace_tag'] == True,
        ocod_data['business_tag'] == True,
        ocod_data['business_counts']==0,
    ], 
    [
        'domestic', 
        'land',
        'carpark',
        'airspace',
        'business',
        'domestic'
    ], 
    default='unknown'
)

In [29]:
#ocod_data[(ocod_data['business_counts']==0 )& (ocod_data['business_tag'])]
ocod_data[(ocod_data['class']=='unknown' )]
ocod_data['property_address'].sample(n=10000).to_csv('/tf/empty_homes_data/offshore_addresses.csv', header = False)

In [14]:
ocod_data.groupby('class').size()

class
airspace     1569
business     4927
carpark      2178
domestic    45368
land        16477
unknown     23569
dtype: int64

# processing multi addresses 

The multi addresses are quite difficult to use. 
This is section is to help process them

In [34]:
 multi_address = ocod_data.loc[:, columns_of_interest][(ocod_data['comma_counts']>5) | (ocod_data['plural_dwelling']==True) | (ocod_data['xx_to_yy']==True) | (ocod_data['odds_evens']==True)]

In [40]:
multi_address[ 'property_address']

13       2-24 (even) Miller Way, 15-25 Hammonds Drive (...
38       1-25 (excluding 13) Acorn Way, Sunnyside, Roth...
46       70 To 98 (even), Weavermill Park, Ashton In Ma...
48       1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 16, 18,...
56       2 and 4 Colliers Grove, 16 Gadfield Grove, 11,...
                               ...
94008                   Units, 1-5 Brewery Road, Hoddesdon
94030                           1-21 Gatcombe Mews, Ealing
94048    50 to 55 (inclusive), 62 to 73 (inclusive) and...
94050    14-50 (even), Windermere Drive, Doncaster (DN4...
94059    Sixth Floor Premises, 6-8 Tokenhouse Yard, Lon...
Name: property_address, Length: 9479, dtype: object

In [41]:
multi_address['property_address'].to_list()

['2-24 (even) Miller Way, 15-25 Hammonds Drive (odd) and 1-19 Rudd Close (odd) Fengate, Peterborough',
 '1-25 (excluding 13) Acorn Way, Sunnyside, Rotherham (S66 3XH)',
 '70 To 98 (even), Weavermill Park, Ashton In Makerfield, Wigan (WN4 9EZ)',
 '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 16, 18, 19, 21 and 22 Heath House Close, Lowton, and 106 and 108 Stone Cross Lane North, Lowton, Warrington',
 '2 and 4 Colliers Grove, 16 Gadfield Grove, 11, 12, 16, 19, 21, 22, 24-30, 32, 33, 35-37 and 41 Albion Close, Atherton, Manchester',
 '2 to 4 and 6 to 11 (inclusive), Junction Close, Blackrod, Bolton (BL6 5GN)',
 '3 and 5 Bloomsbury Crescent, 2, 4, 7, 9, 11, 12 and 14 Burlington Drive and 2, 3, 5, 14 and 16 Windsor Gardens, Bolton',
 '59 and 71 Lawnhurst Avenue, Apartment 8, 240 Lawnhurst Avenue, Apartments 3, 8 and 13, 242 Lawnhurst Avenue, Apartment 6, 244 Lawnhurst Avenue, Apartments 4 and 9, 246 Lawnhurst Avenue and Apartment 13, 248 Lawnhurst Avenue, Wythenshawe, Manchester',
 '6, 15, 16, 17, 20, 21, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 39, 40, 41, 42 and 44 Ann Street, Hyde (SK14 2BA)',
 '2, 4, 8, 10 and 14 Abelia Road, 1, 54, 68, 70, 74, 76, 78 and 80 Hydrangea Close Westhoughton, Bolton',
 '15 and 52 to 58 (even), Celandine View, Soham, Ely and garages and parking spaces (CB7 5DP)',
 '33-63 (odd), Stadium Approach, Aylesbury',
 '1-5 Haddonbrook Business Centre, Fallodan Road, Orton Southgate, Peterborough (PE2 6YX)',
 'Land on the south side of 21-51 Seaton Lane, Hartlepool',
 '5-7 Princes Square, London (W2 4NP)',
 'Garage No 3 at the back of Lexham House 45 to 53 Lexham Gardens, London (W8 5JT)',
 "Queen Anne's Chambers, 22 to 32 (even numbers) Broadway and 37 to 45 (odd numbers) Tothill Street, London",
 '5,7 and 9 Seven Sisters Road, London (N7 6AJ)',
 'Land being part of 16-18 Hatton Garden, London (EC1N 8AT)',
 '186-188 Trafalgar Road, Greenwich, London (SE10 9TZ)',
 'Land comprising 0S2781, 0S3871 and 0S2174 in the Parishes of Woodditton and Kirtling',
 'Hambleton House, 16 Vicarage Lane, Woodditton, Newmarket (CB8 9SG)',
 'Flats 1-9, 1 Draybank Road, Flats 1-9, 23 Draybank Road, 6, 11 and 13 Daisygate Drive and 1 and 2 Stockdove Mews, Broadheath, Altrincham',
 'Plots 290-294, Clopton, Stratford-Upon-Avon',
 'Land and buildings on the north side of Stourbridge Road, 47 Stourbridge Road, 39 to 44 Chapel Street and land and buildings on the east and west sides of Pedmore Road',
 'St Brides House, 10 and 11 Salisbury Square, and 1-4 Dorset Buildings, London',
 'Basement Premises, 45-46 Berners Street, London (W1T 3NE)',
 '2-6 Inverness Terrace, London (W2 3HU)',
 'Point A Hotel, 8-10 Paul Street, London (EC2A 4JH)',
 '1, 1A, 1B, 1C, 3, 3A, 5 and 7 Euston Road, London',
 '54-55 High Street, Newport (NP20 1GA)',
 'Nolton Arcade & 12 to 26 (even) Nolton Street, Bridgend',
 '6,10,12,16,18,22 Yew Grove, 3,15 Yew Grove and garages. 10,14,16 Sycamore Court and garages. 5,6,7 Oak Court and 8 and 10 Oak Court and garages. 3 and 8 Ash Court and 1,2,3,4,7,8,10,12,14,25,27,28,32 and 33 Woodfield Park Crescent and 19,21,22,26 and 34 Woodfield Park Crescent and garages',
 'Plots 2,3,4,5,6 And 24, Glatton Road, Sawtry, Huntingdon',
 '7, 8, 10, 19, 26, 27 and 28 Douglas Court, Ely (CB7 4SE)',
 '5 - 11(odd) Stone Hill, St Neots (PE19 6AP) and 189 - 211 (odd) Cambridge Road, St Neots (PE19 6AH)',
 '28-36 (even), Stokes Drive, Godmanchester, Huntingdon (PE29 2UU)',
 '1-11 (odd), Thames Road, Huntingdon (PE29 1QW)',
 '35-37 Dudley Street, Wolverhampton (WV1 3ER)',
 '109-117 (odd), High Street, Kings Heath, Birmingham (B14 7BU)',
 '21-35 (odd) and 60-64 (even) Birley Rise Road, Sheffield',
 '58-59 Hall Gate, Doncaster (DN1 3PB)',
 'Osborne House, 111-113 Bartholomew Road, London (NW5 2BJ)',
 '6-8 St Christophers Place, London (W1U 1ND)',
 'Royal Eagle Hotel, 26-30 Craven Road, London (W2 3QB)',
 '8, 11, 14, 15, 16, 18, 24, 25, 29 and 34 Coed-y-Brain, Llanbradach',
 'Units 1 to 7 and Units 9 to 18, Rising Sun Industrial Estate, High Street, Blaina',
 '12 Little Ditton, Woodditton, Newmarket (CB8 9SA)',
 '15 - 54 Wren Walk, Eynesbury, St Neots (PE19 2GE), 52, 54, 56, 67, 69 and 71 Bevington Way, Eynesbury, St Neots (PE19 2HQ) and 73 - 89 (odd) Flawn Way, Eynesbury, St Neots (PE19 2JT)',
 'Station Inn, Bristol Road and the site of 3 to 21 (odd numbers) Heeley Road, Bournbrook (B29 6DP)',
 'THE BOND, 180-182 FAZELEY STREET, BIRMINGHAM B5 5SE',
 '5 to 21 (odd) Market Place,  Sheffield  (S1 2GH)',
 '3 to 5 (odd) Tadcaster Road, Sheffield',
 '44-62 Pinstone Street, Sheffield',
 '2 to 10 (even) Amelias Lane and 2 to 60 (even) Columbia Place, Campbell Park, Milton Keynes (MK9 4AU)',
 '37-71 Manning Gardens, Croydon (CR0 7DU)',
 '2-3 Aldridge Place, Rogers Lane, Stoke Poges, Slough (SL2 4LL)',
 '1-8 Farrington Court, 54c Widmore Road, Bromley (BR1 3BD)',
 'Ground to Second Floor Flats being 1 to 16 (inclusive) Billsley Court, 1 Dagmar Road, London and parking spaces (SE25 6HZ)',
 '78 to 86 (even numbers), Parade, Leamington Spa (CV32 4DA)',
 '76-78 Inverness Mews, London (W2 3JQ)',
 'Euro Hotel, 79-81 Clapham Common South Side, London (SW4 9DQ)',
 '1, 4, 6, 32, 35, 47, 50, 55, 82 and 93 Greenacres, South Cornelly',
 '78-80 John Street, Porthcawl (CF36 3BD)',
 'Flat 38, Green Dragon House, 64-70 High Street, Croydon (CR0 1FS)',
 'Flat 2, 131-139 The Broadway, London (SW19 1QJ)',
 '1 to 9 (Inclusive), Pearl Court, Garnet Road, Erith (DA8 2FG)',
 '64-80 Cambridge Road, Kingston Upon Thames (KT1 3FB)',
 'Canterbury House, 2-6 Sydenham Road, Croydon (CR0 9XE)',
 'First Floor, Rear Suite Offices, Ashville House, 131-139 The Broadway, London (SW19 1JQ)',
 '1-5 Jasper Court, Rainbow Road and, 190 Rainbow Road, Erith (DA8 2EQ)',
 'ground floor and basement units, 3-5 High Street, Bromley (BR1 1LF)',
 '1 to 3 The Green and 11 and 13 King Street, Thorne',
 '1 to 27 (odd) Amelia Street, 182 to 202 (even) Walworth Road and 2 to 28 (even) Manor Place and land and buildings at the back thereof, London',
 'Regency House, 1-4 Warwick Street, London (W1B 5LT)',
 "Bishops House, 4 to 13 (all) High Holborn and 1 to 23 (odd) Gray's Inn Road, Holborn, London",
 'Land and buildings at the back of 6 and 8 and land and buildings at the back of 1 to 11 (odd) Wyndham Gardens, Blackpool (FY4 3NX)',
 'Flats 17-24 (inclusive), 1-3 Cable Street, Lancaster (LA1 1BP)',
 '383 to 401 (odd) 405 to 437 (odd) 445, 447 and 453 to 459 (odd) Main Road',
 '79-81 Hollis Croft, Sheffield (S1 4BG)',
 '38-40 Fargate, Sheffield (S1 2HE)',
 'second - lower floor store pods SA054, SA055, SA056 and SA058, SA059, SA060, SA061 and SA062 Unit 2, Clarke Industrial Estate, St Modwen Road, Stretford, Manchester (M32 0ZF)',
 '70 and 72 Whirlowdale Crescent, 4 to 18 (even) Minto Road and 99 to 107 (odd) Middlewood Road, Sheffield',
 'Units 1 to 5, Swinderby Industrial Park, Camp Road, Swinderby, Lincoln',
 '94 to 102 (even), West Street Retail Park, West Street, Boston (PE21 8QN)',
 'Bainbridge House And, 84-96 London Road, Manchester (M1 2PW)',
 '143 to 151 (odd) Clarence Street, Kingston-upon-Thames (KT1 1QT)',
 '29-43 (odd) Dagmar Road, Kingston upon Thames, (KT2 6DP)',
 'The Ground Floor, 7-8 Elm Parade, Main Road, Sidcup, (DA14 6NF)',
 'Flats 1 to 10, The Briar, 43 Thicket Road, Sutton (SM1 4QY) and storage area',
 'Flat 139, Rede House, 63-75 Corporation Road, Middlesbrough (TS1 1LG)',
 'Flat 307, Rede House, 63-75 Corporation Road, Middlesbrough (TS1 1LR)',
 '204-206 High Street, Bromley (BR1 1PW)',
 '108-110 High Street, New Malden (KT3 4EU)',
 'Unit 8, 31-37 The Broadway, Wimbledon, London (SW19 1QB)',
 '43-47 Red Bank Road, Blackpool (FY2 9HX)',
 '1-3 Market Place, Market Deeping, Peterborough (PE6 8EA)',
 'Units 5A, 5B, 6A, 6B, 7A, 7B, 8A, 8B, 9A, 9B, 10A and 10B, Synergy Business Park, Stanney Mill Road, Little Stanney, Chester (CH2 4GY)',
 '34 to 42 (even) Roe Street, Macclesfield (SK11 6AY)',
 '19 to 27 (odd) St Werburgh Street, Chester (CH1 2DY)',
 '17-19 Fishergate, Preston (PR1 3NN)',
 '21-24 Grosvenor Place, London (SW1X 7HN)',
 '6-7 Grosvenor Place, London SW1X 7SH and 50 Headfort Place, London',
 '190, 192, 194, 196, 198, 198A, 200, 202 and 204 Kensington Church Street and 7 to 25 (odd numbers) Rabbit Row, London',
 '28 to 36 (even), Shuttle Drive, Heywood (OL10 3FJ)',
 '12-14 Regent Place, Birmingham (B1 3NJ)',
 'Car Park, Weston Court 45-47, Cromwell Range, Manchester',
 '1, 2, 3, 5, 7, 8, 9, 10 and 11 Edges Farm Close, Westhoughton, Bolton (BL5 2QY)',
 '406-408 Wilmslow Road, Manchester (M20 3BD)',
 '48-52 Floodgate Street, Birmingham (B5 5SL)',
 'Apartments 1-16, 1 Larke Rise and Apartments 1-12, 2 Larke Rise, Manchester (M20 2UL)',
 '45-47 Chorlton Street, Manchester (M1 3FY)',
 "10, 12, 18, 28, 30, 32 and 36 St Ronan's Road and 81 Steade Road, Sheffield",
 '67-77 Hanbury Street, London (E1 5JP)',
 '84 to 102 (even) Charing Cross Road, 24 Cambridge Circus and 115 to 129 (odd) Shaftesbury Avenue, London',
 '1, 2, 3, 4, 9, 10, 11, 12, 13 and 14 Strawberry Park, Whitby, Ellesmere Port',
 'Apartments 1-12, 14-25, 27-32 and 34, College Gate, Salisbury Close, Crewe (CW2 6NW)',
 '110-120 (even) Moss Lane, 1-11 (odd) and 10, 25, 27, 37 and 41 Redshank Place and 2 and 6 Teal Drive, Sandbach',
 '18-22 (Even) Rimmer Grove (CW11 3AF), 2 Cossack Walk (CW11 3AH), 6-14 (even) Harry Mortimer Way (CW11 3AJ), 6, 10-20 (even) Peter Fletcher Crescent (CW11 3AP), 2, 19, 31 & 32 Haliwell Court (CW11 3AQ), 6-10 (even), 16-18 (even), 19-25 (odd) Teddy Gray Avenue (CW11 3AR) and 1-5 (odd) Foundry Lane, Sandbach (CW11 3JP)',
 '262 to 274 Lewisham High Street, London (SE13 6JX)',
 'part of Windsor House, 42 to 50 (even) Victoria Street, London',
 'Units 1-3, Tregoniggie Industrial Estate, Falmouth',
 'Unit 5, 163-167 Bermondsey Street, London (SE1 3UW)',
 '204-206 Queenstown Road, London (SW8 3NR)',
 '725-731 Lordship Lane, London (N22 5JX)',
 'Apartments 1-6, Armstrong House, Armstrong Drive, Worcester (WR1 2GA) and Apartments 1-22, Chamberlain House, Armstrong Drive, Worcester, (WR1 2GB)',
 'Rockwood House 9-17 (odd), Perrymount Road, Haywards Heath (RH16 3TW)',
 '2 to 10 (even) Thurcaston Road, Altrincham (WA14 5XG)',
 'Apartment 30, The Gateway, 11-21 Broughton Road, Salford (M6 6LS)',
 '133 to 163 (odd numbers) Lees Street and Land and buildings on the East side of Lees Street, Gorton',
 'Plots 51 to 55 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Apartment 5, Albert Vaults, 169-171 Chapel Street, Salford (M3 6AD)',
 '55-67 Cricklade Road, Swindon (SN2 1AA)',
 'Flats 1-9 (inc), Compass Court, Welby Road, Birmingham (B28 8HP)',
 '16 to 20 (even), Boston Place, London (NW1 6ER)',
 'Units 1 to 11, Cowley Mill Trading Estate, Longbridge Way, Cowley, Uxbridge (UB8 2YG)',
 '1 to 12 and 14 to 37 Anderton Grange, Hollands Road, Northwich (CW9 8PY)',
 'Units 1 to 4 (inclusive) Risley Road, Risley, Warrington WA3 6QU',
 '91 to 95 (odd) Mill Street, Macclesfield (SK11 6NN)',
 'Heritage Court, 82-86 Blackheath Road, London, SE10 8DA',
 '368-370 Oxford Street, London (W1C 1JW)',
 'Ground Floor Retail Premises, The Freeman Building, 131-143 Clapham Road, London',
 '156 to 170 (even), Streatham High Road, (SW16 1BJ)',
 "64-72 Queen's Road, London (SE15 2QW)",
 '50 to 56 (even numbers) Westbourne Grove, London (W2 5SH)',
 'Units 1-9 Silverdale Industrial Estate',
 'Flat 4, Ovington Court, 197-205 Brompton Road, London (SW3 1LB)',
 '7-8 CONDUIT STREET, LONDON W1S 2XD',
 '15-27 (odd), Castor Street, Liverpool (L6 5AT)',
 '1308-1314 Bristol Road South, Northfield, Birmingham (B31 2TF)',
 'Auchinleck House, 3-11, 16, 17 and 19 Islington Row, 152-164 Broad Street and 1-11 and 17-39 Auchinleck Square, Edgbaston, Birmingham',
 '112 and 113 Bradford Street, Apartments 100 to 127 (inclusive), Kinvara Heights, 114 Bradford Street, Apartments 37, 39 and 40, Kinvara Heights, 158 Cheapside, Apartment 94, Kinvara Heights, 3 Rea Place, Apartments 47 to 49 (inclusive), 56 to 59 (inclusive), 66 to 69 (inclusive), 76 to 79 (inclusive), 86 to 89 (inclusive) and 96 to 99 (inclusive) Kinvara Heights, 7 Rea Place, Birmingham',
 'Grosvenor House 21-33, Newarke Street, Leicester (LE1 5SP)',
 '1 to 9 (inclusive) Schooner Street, Barrow-in-Furness (LA14 2SQ)',
 '16-24 Poplar Road, Solihull (B91 3AB)',
 '48-52 Allcock Street, Birmingham (B9 4DY)',
 '93-96 Floodgate Street, Digbeth, Birmingham (B5 5SR)',
 '21-31 (odd), Regents Way, Sutton Coldfield (B75 7NW)',
 'Flats 1 to 28, 30 Pavilion Close, Leicester and parking spaces (LE2 7JP)',
 '7, 8 and 22 Wolsey Island Way, Apartments 1-4, 4 Wolsey Island Way and Apartments 1-1 26 Wolsey Island Way, Leicester',
 '71-109 (odd) and 125-147 (odd) Park Spring Drive, Sheffield (S2 3QS)',
 '80 to 92 (even numbers), Mansell Street, London',
 '101 to 117 (odd numbers) Finsbury Pavement, London (EC2A 1RS)',
 '2-20 (even), Dimmer Drive, Wilton, Salisbury (SP2 0FL)',
 '131 to 151 (Odd) Great Titchfield Street, London (W1W 5BB)',
 'Flat 4, 1-3 Cornwall Gardens, London (SW7 4AJ)',
 'RSVP, 2-6 Cambridge Street, Sheffield (S1 4HP)',
 '8 Broadway House, 480-486 (Even) Bromley Road, Downham',
 '24 to 28 (even) Clapham High Street, Clapham (SW4 7UR)',
 '138 to 140 (Even) Nathan Way, The Triangle Day Nursery, 10 Kellner Road and 61 Kellner Road, London',
 '148 to 154 (even) Streatham High Road, (SW16 1BJ)',
 "9 to 12 St Anne's Court London (W1F 0BB)",
 '88-89 Queens Gate, London (SW7 5AB)',
 'Land adjoining Unit 5-8, Whitehall Industrial Estate, Whitehall Road, Leeds (LS12 5JB)',
 "land at the rear of 1 to 11 Queen's Mews, London",
 '52 to 58 (even numbers) Commercial Road, Stepney, London, (E1 1LP) and land at the back',
 '3 Trevenner Lane, Marazion  and garage (TR17 0BL)',
 '15-16 King Street, Truro (TR1 2RQ)',
 'B & Q Plc, Trevenson Road, Camborne Retail Park, Pool, Redruth (TR15 3PS)',
 'land lying to the south-east of 17-28,Rothesay Court, Cumberland Place, London (SE6 1NB)',
 '1-14 St Edmonds Court, Tudor Street, Exeter (EX4 3DW)',
 '1-11, Coney Court, Haven Road, Exeter (EX2 8DA)',
 'Strikers, 26-28 Longbrook Street, Exeter (EX4 6AE)',
 '161-165 Balham High Road, London (SW12 9AU)',
 "11 and 12 St James's Square and 14 to 17 Ormond Yard, London",
 'Second Floor Cupboard And Lobby, 7-12 Gadwall Rise, Hayle (TR27 6GP)',
 'Flats 23-44, Chy Kensa, Jubilee Drive, Redruth (TR15 1DY)',
 'Units 1-18, Kestrel Business Park, Kestrel Way, Sowton Industrial Estate, Exeter (EX2 7JS)',
 'Units 8, 9, 10 and 11, 58 to 60 Woodgate, Loughborough',
 'Flats 1 to 6 (inclusive), 1 Barrow Road, Sileby, Loughborough (LE12 7LW)',
 'Land at the rear of 3 to 7 Woodbridge Road, Leicester, (LE4 7RH),',
 '368 to 374 (even numbers) Holloway Road and 2 to 14 (even numbers) Tollington Road',
 'Units 1-4, Kingstown Broadway, Kingstown Industrial Estate, Carlisle (CA3 0HA)',
 '1-20, Merryfield Court, 411 Battersea Park Road, London (SW11 5BF)',
 '65-68 Leadenhall Street, London and 98 Fenchurch Street, London (EC3A 2AD)',
 'Parking Spaces 19 and 20 at the back of 52 to 64 (Even Numbers) Lancaster Road, Enfield',
 '44 to 52 (even numbers) Market Place and 1 to 10 Swan Walk, Romford',
 'Kirkland House, 11 to 15 (odd) Peterborough Road, (HA1 2XT)',
 '48-52 Silver Street, Salisbury (SP1 2NE)',
 'Plot 181 And Plots 189-191, Swindon Road, Lydiard Tregoze, Swindon',
 '2-44 (even) Frederick Street, 41, 43 and 45 Frederick Street, 407-449 (odd) Brook Street, 16, 18 and 22 Arthur Street, 404-420 (even) Price Street and land on the North side of Price Street, Birkenhead',
 '47-49 Derby Road, Huyton, Liverpool (L36 9UQ)',
 'the former site of The Woodside Hotel, 2-6 (even) Chester Street, Birkenhead (CH41 5DG)',
 'Plots 5644 to 5648 (inclusive) Concorde Village, Chertsey Road, Feltham',
 'Plots 1706 to 1711 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Plots 1631 to 1634 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Plots 2901 to 2910, Concorde Village, Chertsey Road, Feltham',
 'Plots 4998 and 5005 to 5008 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Plots 4110 to 4114 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Flat 44, Eaton House, 39-40 Upper Grosvenor Street, London (W1K 2NG)',
 '422 to 436 (even numbers) Holloway Road, 16 to 40 (even numbers) Enkel Road and 73 Roden Street',
 '21-22 Lovat Lane, London (EC3R 8EB)',
 '41 to 47 (odd numbers) Inverness Terrace, London (W2 3JN)',
 '15,17 and 19 Church Road, 3 to 6 Hillside Cottages and 1,2 and 3 Banbury Cottages, Church Road, Stanmore',
 '168-178 Shoreditch High Street, London (E1 6HU)',
 'Site 8 Victory Road and 172-173 Chemical Road, West Wilts Trading Estate, Westbury (BA13 4JN)',
 '3 to 5 (Odd) Rylane, 48 to 52 (Even) East Wichel Way, and 24 to 26 (Even) Holne Road, Swindon and garage, 22 Holne Road, Swindon',
 '19-35 (odd), Loder Lane, Wilton, Salisbury (SP2 0FT)',
 'Flats 1-24 (inclusive),St. Marks Court, Devonshire Road, Oxton (CH43 4SY)',
 '96 to 100 (even) London Road, Liverpool',
 'parts of the basement, ground, mezzanine, first, second, third and fourth floors and the lift shaft extensions and mechanical plant areas including the roof area itself and so far as included within such extensions and areas, all of which land forms part of the Atlantic Pavilion, Albert Dock',
 '115 to 145 Drillfield Road, Northwich, Cheshire and parking spaces (CW9 5HU)',
 '86-88 Church Street, Warrington (WA1 2TF)',
 '6-26 (even) and 13 Bellemonte Road, Frodsham',
 'Parking Spaces, 5 to 27 (odd) Long Lane, London, (SE1 4PF)',
 'Garage 6, 44-46 Elystan Place, London (SW3 3JU)',
 '8-12 (Even), Leeke Street, London (WC1X 9HT)',
 '18-20 Hillcrest Road, London (W5 1HJ)',
 'The Nags Head Shopping Centre, Holloway Road and 402 and 406 Holloway Road, 16 to 22 (even) Seven Sisters Road, and The Covered Market, Hertslet Road, Hollway',
 'Flat 1, Denham Court, 63-71 (odd) Fairfax Road',
 'Flat 1, 115 to 121 Finchley Road, London (NW3 6HY)',
 '65-73 Staines Road, Hounslow (TW3 3HW)',
 '17-18 High Street, Colchester (CO1 1DB)',
 '1(Garage),7, 8, 9, 10, 11, 12, 13, 14 and 6 St Edmunds Court, Harwich Road, Colchester',
 '33-39 Southcote Road, Bournemouth (BH1 3SH)',
 '207 to 215 (odd) Old Christchurch Road, Bournemouth (BH1 1JZ)',
 'Old Orchard, 39-61 High Street, Poole (BH15 1AE)',
 'Apartments 1 to 12, 12A and 14, The Chambers, 32 York Road, Sale (M33 6DA)',
 'Flats 1-24, Commodore House, Timberlog Lane, Basildon (SS14 1NY)',
 '645-647 Southchurch Road, Southend-on-Sea (SS1 2PN)',
 '134 to 146 (even) High Road, Benfleet (SS7 5LD)',
 '137-139 Somerford Road, Christchurch (BH23 3PY)',
 'Units 1-4 (inclusive), Norwich House, 11 Streatham High Road, London (SW16 1DS)',
 'Retail Unit 1-2, Thurston Road, London (SE13 7SD)',
 '81 to 87 High Holborn and 24 to 27 Eagle Street, Holborn, London',
 'Flat 41, Viceroy Court, 58-74 Prince Albert Road, London (NW8 7PR)',
 '3, 5 and 7 Coat Pit Lane, 43 to 53 (odd) Wigan Road and land and buildings lying to the North of Wigan Road, Atherton',
 '33-34 Cornwall Terrace Mews, London (NW1 5LL)',
 '4 Harvest Lodge, 53 to 55 Penton Street, London (N1 9PY)',
 '1-9 Langford Place and 1-13 Stonham Place, Chelmer Road, Chelmsford and other land',
 '37-59 (odd), Lambeth Road, Colchester (CO2 7FG)',
 '67 to 119 (odd), Broadhurst Place, Basildon (SS14 2FA)',
 'Unit 225, Centric House, 15-33 Moorfields, Liverpool (L2 2BS)',
 'Hallmark Hotel Liverpool 113-115 and 117-125 Mount Pleasant, Liverpool (L3 5TF)',
 'Room 605, Seel Street Hotel, 42-46 Seel Street, Liverpool (L1 4BE)',
 'Unit 519, Centric House, 15-33 Moorfields, Liverpool (L2 2BS)',
 '171-175 High Road, Ilford (IG1 1DG)',
 'Retail Premises, 32-34 Henry Street, Liverpool (L1 5BS)',
 '121-141 Westbourne Terrace, London (W2 6JR)',
 "128 to 136 (even) Wardour Street and 16 and 16A St Anne's Court, London",
 '136-137 High Street, Colchester (CO1 1SP)',
 '1-3 Church Street, Altrincham (WA14 4DB)',
 '60-61 Barnes High Street, London (SW13 9LF)',

In [79]:
single_address = multi_address['property_address'].to_list()[0]
print(single_address)

2-24 (even) Miller Way, 15-25 Hammonds Drive (odd) and 1-19 Rudd Close (odd) Fengate, Peterborough

In [5]:
ocod_data['property_address'].str.contains("fields", case = False).sum()

292

In [ ]:
road_name_regex = "(( \w+)('s)?)+ (road|lane|street|way|avenue|close|drive|hill|place|terrace|crescent|gardens|square|walk|grove|mews|row|centre|view|cottages|yard|bank|rise|gate|parade|common|cross|village|mill|station|corner|croft|meadow|fields|quay|wood|field|fold|passage|( \w+)+(way|gate,)|knightsbridge)"

In [183]:
search_pattern = re.compile("^\d+\d*")
print(search_pattern)
match = [re.search(search_pattern, x) for x in ocod_data['property_address'].str.lower().to_list()]

re.compile('^\\d+\\d*')

In [184]:
i = 0
for x in match:
    i= i + int(x != None)
i

34130

In [246]:
ocod_data['property_address'][np.array(match)!=None]

NameError: name 'match' is not defined

In [6]:
ocod_data[['property_address', 'flat_tag']].rename(columns = {'property_address':'text'}).to_csv('/tf/empty_homes_data/property_address_only.csv')

In [272]:
ocod_data[['property_address', 'flat_tag']].shape

(94088, 2)

In [30]:
#class counts after first classifying attempt
class_by_district = ocod_data.groupby(['class', 'district']).size()
class_by_district.to_csv ('class_by_district.csv')

In [31]:

postcode_counts_ocod = ocod_data[(ocod_data['class']=='unknown' )].groupby('postcode').size().reset_index(name = "ocod_counts")

In [32]:
postcode_matches = pd.merge(postcode_counts_voa, postcode_counts_ocod, on = "postcode", how = "outer")
postcode_matches['post_area'] = postcode_matches['postcode'].str.extract('([^\d]+)')
postcode_matches['non_commercial'] = postcode_matches['business_counts'].isna() & postcode_matches['ocod_counts'].notna()

In [33]:

post_area_list = postcode_matches[postcode_matches['post_area'].notna()]['post_area'].tolist()
post_area_list = np.unique(post_area_list)
post_area_list

array(['AL', 'B', 'BA', 'BB', 'BD', 'BH', 'BL', 'BN', 'BR', 'BS', 'C',
       'CA', 'CB', 'CF', 'CH', 'CM', 'CN', 'CO', 'CR', 'CT', 'CV', 'CW',
       'DA', 'DE', 'DG', 'DH', 'DL', 'DN', 'DT', 'DY', 'E', 'EC', 'EN',
       'EX', 'FY', 'G', 'GL', 'GU', 'HA', 'HD', 'HG', 'HP', 'HR', 'HU',
       'HX', 'IG', 'IP', 'KT', 'L', 'LA', 'LD', 'LE', 'LL', 'LN', 'LS',
       'LU', 'M', 'MD', 'ME', 'MK', 'N', 'NE', 'NG', 'NH', 'NN', 'NP',
       'NR', 'NW', 'OL', 'OX', 'PE', 'PL', 'PO', 'PR', 'RG', 'RH', 'RM',
       'S', 'SA', 'SE', 'SG', 'SH', 'SK', 'SL', 'SM', 'SN', 'SO', 'SP',
       'SR', 'SS', 'ST', 'SW', 'SY', 'TA', 'TD', 'TF', 'TH', 'TN', 'TQ',
       'TR', 'TS', 'TW', 'UB', 'W', 'WA', 'WC', 'WD', 'WF', 'WN', 'WR',
       'WS', 'WV', 'YO'], dtype='<U2')

In [34]:
postcode_matches['conservative_domestic'] = postcode_matches['ocod_counts'].fillna(0)-postcode_matches['business_counts'].fillna(0)
postcode_matches['conservative_domestic'] = np.where(postcode_matches['conservative_domestic']<0, 0 , postcode_matches['conservative_domestic'])

In [35]:
postcode_matches.sort_values(by=['ocod_counts'], ascending=False)

,postcode,business_counts,ocod_counts,post_area,non_commercial,conservative_domestic
350614,SE1 7UT,19,577.0,SE,False,558.0
218794,LS7 1NJ,1,178.0,LS,False,177.0
122879,E1 0HJ,19,78.0,E,False,59.0
350601,SE1 7RY,4,76.0,SE,False,72.0
199845,LE3 5HU,1,41.0,LE,False,40.0
...,...,...,...,...,...,...
470045,YO8 9TQ,1,NaN,YO,False,0.0
470046,YO8 9UB,2,NaN,YO,False,0.0
470047,YO8 9UG,5,NaN,YO,False,0.0
470048,YO8 9UH,2,NaN,YO,False,0.0
470049,YO90 1UU,1,NaN,YO,False,0.0

In [36]:
#number of OCOD with no business in postcode
postcode_matches[postcode_matches['business_counts'].isna() & postcode_matches['ocod_counts'].notna()][['ocod_counts']].sum()

ocod_counts    0.0
dtype: float64

In [37]:
#number of OCOD with with business in postcode
postcode_matches[postcode_matches['business_counts'].notna() & postcode_matches['ocod_counts'].notna()][['ocod_counts']].sum()

ocod_counts    25966.0
dtype: float64

In [38]:
print('Total ocod ' + str(postcode_matches['ocod_counts'].sum() )+
    ' Conservative domestic counts ' + str(postcode_matches['conservative_domestic'].sum()))

Total ocod 25966.0 Conservative domestic counts 2728.0

In [39]:
ocod_data.groupby('proprietor_name_(1)').agg('size')

proprietor_name_(1)
(CR) CONSTABLE REAL B.V.         1
1 BL EC2 LTD                     1
1 BRIDGE STREET LIMITED          1
1 CAPITAL LIMITED                1
1 CHESHAM CLOSE LIMITED          1
                                ..
ZUSHCU PROPERTIES PVT LIMITED    4
ZUSHCU PROPERTIES PVT LTD        1
ZWAN HOLDINGS LIMITED            1
ZWIKKE LIMITED                   3
ZYLAND INTERNATIONAL LIMITED     4
Length: 31809, dtype: int64

In [40]:
address_list = ocod_data['property_address'].tolist()[0:100]
parsed_address_list_att = address_parser_att(address_list)
address_errors = pd.DataFrame([x.to_dict() for x in parsed_address_list_att]).drop(
    ["Orientation", "GeneralDelivery", "EOS"], axis  = 1)
address_errors["address"] = address_list
address_errors

NameError: name 'address_parser_att' is not defined

In [54]:
import io
import zipfile


post_area_id = 'AL'

target_post_area = "Data/multi_csv/ONSPD_NOV_2021_UK_" + post_area_id +".csv"

with zipfile.ZipFile("/tf/empty_homes_data/" + "ONSPD_NOV_2021_UK.zip") as zf:
    with io.TextIOWrapper(zf.open(target_post_area), encoding="utf-8") as f:
        ONSPD = pd.read_csv(f)

temp_postcode_matches = postcode_matches[postcode_matches['post_area']==post_area_id]

temp_postcode_matches

       postcode  business_counts  ocod_counts post_area
42      AL1 1AW              1.0          NaN        AL
43      AL1 1BX              7.0          NaN        AL
44      AL1 1BY              4.0          NaN        AL
45      AL1 1BZ             21.0          NaN        AL
46      AL1 1DQ              2.0          NaN        AL
...         ...              ...          ...       ...
470107  AL8 6UB              NaN          1.0        AL
470108  AL9 5RH              NaN          1.0        AL
470109  AL9 7QG              NaN          1.0        AL
470110  AL9 7RX              NaN          1.0        AL
470111  AL9 7TD              NaN          1.0        AL

[1805 rows x 4 columns]

In [5]:
import json
# Opening JSON file
#f =open("/tf/empty_homes_data/exported_results_2022-02-17T08_14_04.244Z.json") #download button
f =open("/tf/empty_homes_data/exported_results_2022-02-28T15_47_31.229Z.json")  #aggregate and download button

#exported_results_2022-02-21T13_58_40.285Z.json
# returns JSON object as 
# a dictionary
data = json.load(f)
   
# Iterating through the json
# list
#for i in data['emp_details']:
#    print(i)
   
# Closing file
#f.close()

I need to create a dataset which has the following structure

[("Tokyo Tower is 333m tall.", [(0, 11, "BUILDING")])]

That is each observation is an element of a list

each element is a two part tuple where the first part is a text string and the second part is a list
each element of this list is a three part tuple where
part1 the beggining of the span
part 2 the end of the span
part three the class of the span
  
This is shown on the spacy docs https://spacy.io/usage/training#training-data

In [6]:

datapoint_id_list = [x['datapointId'] for x in data]
print(max(datapoint_id_list))

len(set(datapoint_id_list))

94087

93442

In [8]:


def is_overlap_function(a,b):
    #identifies any overlapping tags.
    #takes two dictionaries and outputs a logical value identifying if the tags overlap
     start_overlap = (b['start'] >= a['start']) & (b['start'] <= a['end']) 
     end_overlap = (b['end'] >= a['start']) & (b['end'] <= a['end']) 
     return (start_overlap | end_overlap)

    
def remove_overlapping_spans(list_of_labels_dict):
    
    
    span_length = [x['end']-x['start'] for x in list_of_labels_dict]
    #produces a list of indices indicating the first element of a list in a pair that overlaps
    #this means if (start, end) [(0,3), (4,7), ),(5,9)], the value returned would be 1 because indices 1 and 2 overlap.
    is_overlap_list = [x for x in [*range(0, len(list_of_labels_dict)-1)] if
                  is_overlap_function(list_of_labels_dict[x],list_of_labels_dict[x+1])]

    #identify the index of the list to be deleted
    del_list =[]
    for i in is_overlap_list:
         pair_overlaps = is_overlap_function(list_of_labels_dict[i],list_of_labels_dict[i+1])
         if span_length[i] > span_length[i+1]:
            del_list = del_list + [i+1]
         else:
            del_list = del_list + [i]
        

    no_overlaps_list = [i for j, i in enumerate(list_of_labels_dict) if j not in del_list]
    return no_overlaps_list


def remove_overlapping_spans2(list_of_labels_dict):
    #This function iterates through the list pairwise checking to see if there are overlaps
    #this function builds on the previous version which checked for overlaps in one go
    #but didn't consider that a single entity might overlap several subsequent entities
    #example A (start = 0, end = 20), B (start = 3, end = 10), C (start = 12, end = 20)
    #A overlaps B and C even though B and C do not overlap, as a result only A should remain
    
    i = 0
    j = i+1
    while j < len(list_of_labels_dict):
        
        
        #check if there is overlap
        pair_overlaps = is_overlap_function(list_of_labels_dict[i],list_of_labels_dict[j])
        if pair_overlaps:
            #get index of smallest span
            span_a = list_of_labels_dict[i]['end'] - list_of_labels_dict[i]['start']
            span_b = list_of_labels_dict[j]['end'] - list_of_labels_dict[j]['start']

            if span_a > span_b:
                list_of_labels_dict.pop(j)
            else:
                list_of_labels_dict.pop(i)
        else:
            #i and j are only updated here as if either is removed the indexing changed such that the original i and j values now represent differnt elements
            #only when there is no overlap should the indexes advance
            i = i +1
            j = i +1
        
    return list_of_labels_dict

In [10]:


import random
import operator #used for sorting the label dictionaries by start point. This is the basis for removing overlaps

random.seed(10)
randomlist = random.sample(datapoint_id_list, 9)
#print(randomlist)
#randomlist.pop(54)
data_and_labels = []
data_labels_dict = []

count_it = 0
for i in randomlist:
    count_it += 1
    if count_it % 100 == 0: 
        print('count = {}'.format(count_it))
        
    single_id_index = np.where(np.array(datapoint_id_list)==i)
    ##these labels are in tuple form
   # list_of_labels = [(data[x]['start'], data[x]['end'], data[x]['label']) for x in single_id_index[0].tolist()]
    
    ##these labels are in dictionary form
    list_of_labels_dict = [{'start': data[x]['start'], 'end':data[x]['end'], 'label': data[x]['label']} for x in single_id_index[0].tolist()]
    
    #this inplace sorting using operator orders the dictionary by the start point. ties are automatically broken
    #it required the operator library
    list_of_labels_dict.sort(key=operator.itemgetter('start'))
    
    list_of_labels_dict = remove_overlapping_spans2(list_of_labels_dict)

    #create the NER dataset structure shown on the spacy website
   # data_and_labels = data_and_labels + [ ( ocod_data['property_address'][i], list_of_labels ) ]
    #create a list of dictionaries using a similar structure to save as a json
    data_labels_dict = data_labels_dict + [
        {
            'text' : ocod_data['property_address'][i],
            'labels' : list_of_labels_dict,
            'datapoint_id': i,
        }
    ]

In [28]:
data_labels_dict[4455]

{'text': '49 thornville road, leeds (ls6 1jy)',
 'labels': [{'start': 0, 'end': 2, 'label': 'street_number'},
  {'start': 3, 'end': 18, 'label': 'street_name'},
  {'start': 20, 'end': 25, 'label': 'city'}]}

In [79]:
data

[{'datapointId': 89214,
  'labelId': 7,
  'start': 42,
  'end': 54,
  'text': 'chesterfield',
  'label': 'city',
  'probability': 1},
 {'datapointId': 19385,
  'labelId': 12,
  'start': 3,
  'end': 16,
  'text': 'cannon street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 63519,
  'labelId': 11,
  'start': 57,
  'end': 64,
  'text': 'w14 8ln',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 42713,
  'labelId': 13,
  'start': 154,
  'end': 155,
  'text': '1',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 67716,
  'labelId': 11,
  'start': 41,
  'end': 48,
  'text': 'n17 9eu',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 59895,
  'labelId': 13,
  'start': 23,
  'end': 28,
  'text': '57-59',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 51715,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 14514,
  'labelId': 12,
  'start': 3,
  'end': 15,
  'text': 'south street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 19667,
  'labelId': 13,
  'start': 17,
  'end': 20,
  'text': '208',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 24696,
  'labelId': 12,
  'start': 6,
  'end': 17,
  'text': 'high street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 93007,
  'labelId': 13,
  'start': 0,
  'end': 1,
  'text': '6',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 47822,
  'labelId': 13,
  'start': 0,
  'end': 1,
  'text': '1',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 48887,
  'labelId': 11,
  'start': 44,
  'end': 50,
  'text': 'w2 5uy',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 79521,
  'labelId': 13,
  'start': 28,
  'end': 35,
  'text': '108-122',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 26151,
  'labelId': 11,
  'start': 28,
  'end': 35,
  'text': 'nw3 4bn',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 20096,
  'labelId': 14,
  'start': 5,
  'end': 7,
  'text': '44',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 70689,
  'labelId': 12,
  'start': 10,
  'end': 26,
  'text': 'barkston gardens',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 9022,
  'labelId': 13,
  'start': 8,
  'end': 11,
  'text': '192',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 5291,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 5228,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'flat',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 54847,
  'labelId': 13,
  'start': 20,
  'end': 22,
  'text': '80',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 20633,
  'labelId': 7,
  'start': 43,
  'end': 53,
  'text': 'teddington',
  'label': 'city',
  'probability': 1},
 {'datapointId': 12236,
  'labelId': 13,
  'start': 0,
  'end': 1,
  'text': '1',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 44632,
  'labelId': 13,
  'start': 16,
  'end': 17,
  'text': '1',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 53803,
  'labelId': 12,
  'start': 3,
  'end': 25,
  'text': 'kensington high street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 31721,
  'labelId': 14,
  'start': 50,
  'end': 54,
  'text': '1-13',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 41450,
  'labelId': 11,
  'start': 43,
  'end': 51,
  'text': 'ec4m 7by',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 86868,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 36809,
  'labelId': 7,
  'start': 23,
  'end': 29,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 11161,
  'labelId': 13,
  'start': 0,
  'end': 2,
  'text': '42',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 41740,
  'labelId': 7,
  'start': 43,
  'end': 50,
  'text': 'deeside',
  'label': 'city',
  'probability': 1},
 {'datapointId': 44082,
  'labelId': 11,
  'start': 63,
  'end': 69,
  'text': 'm3 7ee',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 87772,
  'labelId': 12,
  'start': 22,
  'end': 37,
  'text': 'winchester road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 3021,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 60823,
  'labelId': 12,
  'start': 2,
  'end': 16,
  'text': 'farmanby close',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 87874,
  'labelId': 7,
  'start': 82,
  'end': 88,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 62537,
  'labelId': 11,
  'start': 73,
  'end': 80,
  'text': 'kt6 7el',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 66614,
  'labelId': 15,
  'start': 0,
  'end': 9,
  'text': 'apartment',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 93307,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 90847,
  'labelId': 12,
  'start': 10,
  'end': 25,
  'text': 'colchester road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 87778,
  'labelId': 12,
  'start': 40,
  'end': 54,
  'text': 'britton street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 5594,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 67052,
  'labelId': 12,
  'start': 24,
  'end': 42,
  'text': 'kithurst farm road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 12057,
  'labelId': 7,
  'start': 45,
  'end': 54,
  'text': 'liverpool',
  'label': 'city',
  'probability': 1},
 {'datapointId': 74321,
  'labelId': 11,
  'start': 34,
  'end': 41,
  'text': 'sa1 2ez',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 36071,
  'labelId': 13,
  'start': 0,
  'end': 5,
  'text': '19-21',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 33860,
  'labelId': 13,
  'start': 7,
  'end': 9,
  'text': '79',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 83956,
  'labelId': 7,
  'start': 39,
  'end': 45,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 84017,
  'labelId': 13,
  'start': 27,
  'end': 32,
  'text': '50-54',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 78673,
  'labelId': 7,
  'start': 53,
  'end': 63,
  'text': 'manchester',
  'label': 'city',
  'probability': 1},
 {'datapointId': 79455,
  'labelId': 11,
  'start': 62,
  'end': 69,
  'text': 'ng2 3du',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 58032,
  'labelId': 15,
  'start': 0,
  'end': 9,
  'text': 'apartment',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 71988,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 22921,
  'labelId': 13,
  'start': 0,
  'end': 2,
  'text': '17',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 9475,
  'labelId': 11,
  'start': 36,
  'end': 43,
  'text': 'w1g 0jd',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 33526,
  'labelId': 12,
  'start': 31,
  'end': 45,
  'text': 'watling street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 26195,
  'labelId': 16,
  'start': 9,
  'end': 13,
  'text': 'even',
  'label': 'number_filter',
  'probability': 1},
 {'datapointId': 31952,
  'labelId': 7,
  'start': 16,
  'end': 23,
  'text': 'reigate',
  'label': 'city',
  'probability': 1},
 {'datapointId': 72092,
  'labelId': 12,
  'start': 18,
  'end': 29,
  'text': 'mint street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 31131,
  'labelId': 12,
  'start': 27,
  'end': 43,
  'text': 'lake shore drive',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 34067,
  'labelId': 13,
  'start': 8,
  'end': 13,
  'text': '17-18',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 79310,
  'labelId': 12,
  'start': 12,
  'end': 26,
  'text': 'lowndes square',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 55697,
  'labelId': 13,
  'start': 0,
  'end': 2,
  'text': '48',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 24741,
  'labelId': 12,
  'start': 10,
  'end': 25,
  'text': 'mulberry square',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 8270,
  'labelId': 12,
  'start': 83,
  'end': 94,
  'text': 'john street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 91999,
  'labelId': 13,
  'start': 0,
  'end': 2,
  'text': '47',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 51352,
  'labelId': 14,
  'start': 234,
  'end': 241,
  'text': '601-614',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 20879,
  'labelId': 12,
  'start': 45,
  'end': 68,
  'text': 'westminster bridge road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 39881,
  'labelId': 12,
  'start': 26,
  'end': 39,
  'text': 'northolt road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 52188,
  'labelId': 12,
  'start': 28,
  'end': 41,
  'text': 'maygrove road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 3113,
  'labelId': 12,
  'start': 56,
  'end': 69,
  'text': 'pountney lane',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 24080,
  'labelId': 12,
  'start': 34,
  'end': 44,
  'text': 'green lane',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 87893,
  'labelId': 12,
  'start': 6,
  'end': 18,
  'text': 'fleet street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 12968,
  'labelId': 11,
  'start': 78,
  'end': 85,
  'text': 'bd5 0nw',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 81958,
  'labelId': 11,
  'start': 41,
  'end': 49,
  'text': 'ne30 1pw',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 26649,
  'labelId': 7,
  'start': 15,
  'end': 25,
  'text': 'nottingham',
  'label': 'city',
  'probability': 1},
 {'datapointId': 26784,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 92872,
  'labelId': 13,
  'start': 8,
  'end': 10,
  'text': '16',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 39089,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'flat',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 77089,
  'labelId': 7,
  'start': 62,
  'end': 68,
  'text': 'oldham',
  'label': 'city',
  'probability': 1},
 {'datapointId': 18220,
  'labelId': 11,
  'start': 61,
  'end': 67,
  'text': 'w6 7bj',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 15265,
  'labelId': 7,
  'start': 21,
  'end': 29,
  'text': 'llanelli',
  'label': 'city',
  'probability': 1},
 {'datapointId': 45296,
  'labelId': 11,
  'start': 72,
  'end': 79,
  'text': 'ol7 9ql',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 57809,
  'labelId': 13,
  'start': 8,
  'end': 10,
  'text': '28',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 44866,
  'labelId': 7,
  'start': 35,
  'end': 43,
  'text': 'hailsham',
  'label': 'city',
  'probability': 1},
 {'datapointId': 24514,
  'labelId': 11,
  'start': 52,
  'end': 60,
  'text': 'sw1w 8dp',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 77401,
  'labelId': 11,
  'start': 39,
  'end': 45,
  'text': 'l6 6dd',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 220,
  'labelId': 7,
  'start': 15,
  'end': 24,
  'text': 'cambridge',
  'label': 'city',
  'probability': 1},
 {'datapointId': 55660,
  'labelId': 12,
  'start': 17,
  'end': 29,
  'text': 'carlton hill',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 94030,
  'labelId': 7,
  'start': 22,
  'end': 30,
  'text': 'finchley',
  'label': 'city',
  'probability': 1},
 {'datapointId': 81829,
  'labelId': 10,
  'start': 10,
  'end': 26,
  'text': 'nell gwynn house',
  'label': 'building_name',
  'probability': 1},
 {'datapointId': 14790,
  'labelId': 7,
  'start': 67,
  'end': 77,
  'text': 'sunderland',
  'label': 'city',
  'probability': 1},
 {'datapointId': 16732,
  'labelId': 12,
  'start': 31,
  'end': 42,
  'text': 'county road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 2559,
  'labelId': 7,
  'start': 18,
  'end': 24,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 58328,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 73606,
  'labelId': 7,
  'start': 28,
  'end': 34,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 36851,
  'labelId': 11,
  'start': 27,
  'end': 34,
  'text': 'm24 2bz',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 51403,
  'labelId': 14,
  'start': 10,
  'end': 12,
  'text': '82',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 24051,
  'labelId': 12,
  'start': 10,
  'end': 27,
  'text': 'titchfield street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 40538,
  'labelId': 7,
  'start': 36,
  'end': 45,
  'text': 'blackburn',
  'label': 'city',
  'probability': 1},
 {'datapointId': 93953,
  'labelId': 10,
  'start': 14,
  'end': 28,
  'text': 'rosamond house',
  'label': 'building_name',
  'probability': 1},
 {'datapointId': 47365,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'flat',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 91041,
  'labelId': 7,
  'start': 15,
  'end': 22,
  'text': 'seaford',
  'label': 'city',
  'probability': 1},
 {'datapointId': 20372,
  'labelId': 13,
  'start': 8,
  'end': 10,
  'text': '10',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 26266,
  'labelId': 7,
  'start': 20,
  'end': 26,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 51448,
  'labelId': 12,
  'start': 4,
  'end': 21,
  'text': 'west wycombe road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 6820,
  'labelId': 11,
  'start': 26,
  'end': 33,
  'text': 'bl1 4dl',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 53407,
  'labelId': 12,
  'start': 6,
  'end': 19,
  'text': 'oxford street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 12696,
  'labelId': 7,
  'start': 48,
  'end': 56,
  'text': 'bradford',
  'label': 'city',
  'probability': 1},
 {'datapointId': 19991,
  'labelId': 7,
  'start': 43,
  'end': 53,
  'text': 'manchester',
  'label': 'city',
  'probability': 1},
 {'datapointId': 22117,
  'labelId': 13,
  'start': 27,
  'end': 30,
  'text': '178',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 61186,
  'labelId': 14,
  'start': 10,
  'end': 13,
  'text': '209',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 47419,
  'labelId': 12,
  'start': 39,
  'end': 55,
  'text': 'new union square',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 81631,
  'labelId': 13,
  'start': 8,
  'end': 10,
  'text': '35',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 29993,
  'labelId': 10,
  'start': 10,
  'end': 27,
  'text': 'maid marian house',
  'label': 'building_name',
  'probability': 1},
 {'datapointId': 64845,
  'labelId': 14,
  'start': 216,
  'end': 218,
  'text': '49',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 8063,
  'labelId': 12,
  'start': 22,
  'end': 36,
  'text': 'portswood road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 68515,
  'labelId': 12,
  'start': 6,
  'end': 22,
  'text': 'southwick street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 49060,
  'labelId': 10,
  'start': 10,
  'end': 22,
  'text': 'rodney house',
  'label': 'building_name',
  'probability': 1},
 {'datapointId': 27686,
  'labelId': 11,
  'start': 44,
  'end': 52,
  'text': 'nw10 7pw',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 67474,
  'labelId': 11,
  'start': 31,
  'end': 38,
  'text': 'hx1 5ex',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 36582,
  'labelId': 12,
  'start': 18,
  'end': 31,
  'text': 'exeter street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 90830,
  'labelId': 12,
  'start': 31,
  'end': 42,
  'text': 'west street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 12567,
  'labelId': 11,
  'start': 49,
  'end': 56,
  'text': 'en4 8at',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 68642,
  'labelId': 7,
  'start': 43,
  'end': 49,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 58705,
  'labelId': 7,
  'start': 49,
  'end': 55,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 93114,
  'labelId': 14,
  'start': 204,
  'end': 213,
  'text': '2201-2209',
  'label': 'unit_id',
  'probability': 1},
 {'datapointId': 83065,
  'labelId': 11,
  'start': 29,
  'end': 37,
  'text': 'rg41 2ah',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 65054,
  'labelId': 11,
  'start': 27,
  'end': 34,
  'text': 'ip1 3aj',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 47668,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'flat',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 10896,
  'labelId': 13,
  'start': 0,
  'end': 2,
  'text': '17',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 2803,
  'labelId': 12,
  'start': 3,
  'end': 14,
  'text': 'thorpe road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 67792,
  'labelId': 11,
  'start': 34,
  'end': 41,
  'text': 'ws3 1lu',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 20130,
  'labelId': 7,
  'start': 17,
  'end': 23,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 86736,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'land',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 64799,
  'labelId': 7,
  'start': 44,
  'end': 52,
  'text': 'chertsey',
  'label': 'city',
  'probability': 1},
 {'datapointId': 83764,
  'labelId': 11,
  'start': 37,
  'end': 45,
  'text': 'sw10 9du',
  'label': 'postcode',
  'probability': 1},
 {'datapointId': 92571,
  'labelId': 12,
  'start': 26,
  'end': 34,
  'text': 'old road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 4692,
  'labelId': 7,
  'start': 39,
  'end': 45,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 9720,
  'labelId': 12,
  'start': 3,
  'end': 15,
  'text': 'jubilee road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 51880,
  'labelId': 12,
  'start': 25,
  'end': 42,
  'text': 'bickenhall street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 35824,
  'labelId': 13,
  'start': 43,
  'end': 45,
  'text': '44',
  'label': 'street_number',
  'probability': 1},
 {'datapointId': 14946,
  'labelId': 12,
  'start': 6,
  'end': 17,
  'text': 'high street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 49358,
  'labelId': 12,
  'start': 17,
  'end': 30,
  'text': 'halkin street',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 72900,
  'labelId': 15,
  'start': 0,
  'end': 4,
  'text': 'flat',
  'label': 'unit_type',
  'probability': 1},
 {'datapointId': 22267,
  'labelId': 12,
  'start': 3,
  'end': 12,
  'text': 'york road',
  'label': 'street_name',
  'probability': 1},
 {'datapointId': 53142,
  'labelId': 7,
  'start': 21,
  'end': 27,
  'text': 'london',
  'label': 'city',
  'probability': 1},
 {'datapointId': 12212,
  'labelId': 12,
  'start': 23,
  'end': 32,
  'text': 'moat lane',

In [15]:
data_labels_dict2 = random.sample(data_labels_dict, 9999) #data_labels_dict
#del_list = [1160,2652,3015,3861,3897,4455, 4485,4859]
del_list = []
data_labels_dict2  = [i for j, i in enumerate(data_labels_dict2) if j not in del_list]
print(data_labels_dict[1160])
print(data_labels_dict[1160]['text'][19:48])
print(data_labels_dict[1160]['text'][34:48])

{'text': 'flat 3, 300 walworth road, london (se17 2te)', 'labels': [{'start': 0, 'end': 4, 'label': 'unit_type', 'label_text': 'flat'}, {'start': 5, 'end': 6, 'label': 'unit_id', 'label_text': '3'}, {'start': 8, 'end': 11, 'label': 'street_number', 'label_text': '300'}, {'start': 12, 'end': 25, 'label': 'street_name', 'label_text': 'walworth road'}, {'start': 27, 'end': 33, 'label': 'city', 'label_text': 'london'}, {'start': 35, 'end': 43, 'label': 'postcode', 'label_text': 'se17 2te'}], 'datapoint_id': 1169}
h road, london (se17 2te)
(se17 2te)

In [17]:
#data_labels_dict2 =  data_labels_dict

jason_test_data ={
     "name": "28_02_22_1010",
     "description": "example labelling structure",
     "fields": [
         {"name": "text", 
          "data_type": "text"
         },
         {"name": "labels", 
          "data_type": "character_offsets"},
         {"name": "datapoint_id", 
          "data_type": "text"
         }
     ],
     "data": data_labels_dict2
}

import requests 

url = "https://api.humanloop.com/datasets"

# replace payload with your actual dataset...
payload= json.dumps(jason_test_data)
headers = {
  'X-API-Key': config.api_key,
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

{"id":1197,"attempted":9999,"succeeded":9999,"msg":"9999 data points uploaded."}

# Create whole dataset json

In [9]:
import operator
data_and_labels = []
data_labels_dict = []

count_it = 0
for i in set(datapoint_id_list):
    count_it += 1
    if count_it % 100 == 0: 
        print('count = {}'.format(count_it))
        
    single_id_index = np.where(np.array(datapoint_id_list)==i)
    ##these labels are in tuple form
   # list_of_labels = [(data[x]['start'], data[x]['end'], data[x]['label']) for x in single_id_index[0].tolist()]
    
    ##these labels are in dictionary form
    list_of_labels_dict = [{'start': data[x]['start'], 
                            'end':data[x]['end'], 
                            'label': data[x]['label'], 
                            'label_text': data[x]['text'] } for x in single_id_index[0].tolist()]
    
    #this inplace sorting using operator orders the dictionary by the start point. ties are automatically broken
    #it required the operator library
    list_of_labels_dict.sort(key=operator.itemgetter('start'))
    
    list_of_labels_dict = remove_overlapping_spans2(list_of_labels_dict)

    #create the NER dataset structure shown on the spacy website
   # data_and_labels = data_and_labels + [ ( ocod_data['property_address'][i], list_of_labels ) ]
    #create a list of dictionaries using a similar structure to save as a json
    data_labels_dict = data_labels_dict + [
        {
            'text' : ocod_data['property_address'][i],
            'labels' : list_of_labels_dict,
            'datapoint_id': i,
        }
    ]

count = 100
count = 200
count = 300
count = 400
count = 500
count = 600
count = 700
count = 800
count = 900
count = 1000
count = 1100
count = 1200
count = 1300
count = 1400
count = 1500
count = 1600
count = 1700
count = 1800
count = 1900
count = 2000
count = 2100
count = 2200
count = 2300
count = 2400
count = 2500
count = 2600
count = 2700
count = 2800
count = 2900
count = 3000
count = 3100
count = 3200
count = 3300
count = 3400
count = 3500
count = 3600
count = 3700
count = 3800
count = 3900
count = 4000
count = 4100
count = 4200
count = 4300
count = 4400
count = 4500
count = 4600
count = 4700
count = 4800
count = 4900
count = 5000
count = 5100
count = 5200
count = 5300
count = 5400
count = 5500
count = 5600
count = 5700
count = 5800
count = 5900
count = 6000
count = 6100
count = 6200
count = 6300
count = 6400
count = 6500
count = 6600
count = 6700
count = 6800
count = 6900
count = 7000
count = 7100
count = 7200
count = 7300
count = 7400
count = 7500
count = 7600
count = 7700
count = 7800
count = 7900
count = 8000
count = 8100
count = 8200
count = 8300
count = 8400
count = 8500
count = 8600
count = 8700
count = 8800
count = 8900
count = 9000
count = 9100
count = 9200
count = 9300
count = 9400
count = 9500
count = 9600
count = 9700
count = 9800
count = 9900
count = 10000
count = 10100
count = 10200
count = 10300
count = 10400
count = 10500
count = 10600
count = 10700
count = 10800
count = 10900
count = 11000
count = 11100
count = 11200
count = 11300
count = 11400
count = 11500
count = 11600
count = 11700
count = 11800
count = 11900
count = 12000
count = 12100
count = 12200
count = 12300
count = 12400
count = 12500
count = 12600
count = 12700
count = 12800
count = 12900
count = 13000
count = 13100
count = 13200
count = 13300
count = 13400
count = 13500
count = 13600
count = 13700
count = 13800
count = 13900
count = 14000
count = 14100
count = 14200
count = 14300
count = 14400
count = 14500
count = 14600
count = 14700
count = 14800
count = 14900
count = 15000
count = 15100
count = 15200
count = 15300
count = 15400
count = 15500
count = 15600
count = 15700
count = 15800
count = 15900
count = 16000
count = 16100
count = 16200
count = 16300
count = 16400
count = 16500
count = 16600
count = 16700
count = 16800
count = 16900
count = 17000
count = 17100
count = 17200
count = 17300
count = 17400
count = 17500
count = 17600
count = 17700
count = 17800
count = 17900
count = 18000
count = 18100
count = 18200
count = 18300
count = 18400
count = 18500
count = 18600
count = 18700
count = 18800
count = 18900
count = 19000
count = 19100
count = 19200
count = 19300
count = 19400
count = 19500
count = 19600
count = 19700
count = 19800
count = 19900
count = 20000
count = 20100
count = 20200
count = 20300
count = 20400
count = 20500
count = 20600
count = 20700
count = 20800
count = 20900
count = 21000
count = 21100
count = 21200
count = 21300
count = 21400
count = 21500
count = 21600
count = 21700
count = 21800
count = 21900
count = 22000
count = 22100
count = 22200
count = 22300
count = 22400
count = 22500
count = 22600
count = 22700
count = 22800
count = 22900
count = 23000
count = 23100
count = 23200
count = 23300
count = 23400
count = 23500
count = 23600
count = 23700
count = 23800
count = 23900
count = 24000
count = 24100
count = 24200
count = 24300
count = 24400
count = 24500
count = 24600
count = 24700
count = 24800
count = 24900
count = 25000
count = 25100
count = 25200
count = 25300
count = 25400
count = 25500
count = 25600
count = 25700
count = 25800
count = 25900
count = 26000
count = 26100
count = 26200
count = 26300
count = 26400
count = 26500
count = 26600
count = 26700
count = 26800
count = 26900
count = 27000
count = 27100
count = 27200
count = 27300
count = 27400
count = 27500
count = 27600
count = 27700
count = 27800
count = 27900
count = 28000
count = 28100
count = 28200
count = 28300
count = 28400
count = 28500
count = 28600
count = 28700
count = 28800
count = 28900
count = 29000
count = 29100
count = 29200
count = 29300
count = 29400
count = 29500
count = 29600
count = 29700
count = 29800
count = 29900
count = 30000
count = 30100
count = 30200
count = 30300
count = 30400
count = 30500
count = 30600
count = 30700
count = 30800
count = 30900
count = 31000
count = 31100
count = 31200
count = 31300
count = 31400
count = 31500
count = 31600
count = 31700
count = 31800
count = 31900
count = 32000
count = 32100
count = 32200
count = 32300
count = 32400
count = 32500
count = 32600
count = 32700
count = 32800
count = 32900
count = 33000
count = 33100
count = 33200
count = 33300
count = 33400
count = 33500
count = 33600
count = 33700
count = 33800
count = 33900
count = 34000
count = 34100
count = 34200
count = 34300
count = 34400
count = 34500
count = 34600
count = 34700
count = 34800
count = 34900
count = 35000
count = 35100
count = 35200
count = 35300
count = 35400
count = 35500
count = 35600
count = 35700
count = 35800
count = 35900
count = 36000
count = 36100
count = 36200
count = 36300
count = 36400
count = 36500
count = 36600
count = 36700
count = 36800
count = 36900
count = 37000
count = 37100
count = 37200
count = 37300
count = 37400
count = 37500
count = 37600
count = 37700
count = 37800
count = 37900
count = 38000
count = 38100
count = 38200
count = 38300
count = 38400
count = 38500
count = 38600
count = 38700
count = 38800
count = 38900
count = 39000
count = 39100
count = 39200
count = 39300
count = 39400
count = 39500
count = 39600
count = 39700
count = 39800
count = 39900
count = 40000
count = 40100
count = 40200
count = 40300
count = 40400
count = 40500
count = 40600
count = 40700
count = 40800
count = 40900
count = 41000
count = 41100
count = 41200
count = 41300
count = 41400
count = 41500
count = 41600
count = 41700
count = 41800
count = 41900
count = 42000
count = 42100
count = 42200
count = 42300
count = 42400
count = 42500
count = 42600
count = 42700
count = 42800
count = 42900
count = 43000
count = 43100
count = 43200
count = 43300
count = 43400
count = 43500
count = 43600
count = 43700
count = 43800
count = 43900
count = 44000
count = 44100
count = 44200
count = 44300
count = 44400
count = 44500
count = 44600
count = 44700
count = 44800
count = 44900
count = 45000
count = 45100
count = 45200
count = 45300
count = 45400
count = 45500
count = 45600
count = 45700
count = 45800
count = 45900
count = 46000
count = 46100
count = 46200
count = 46300
count = 46400
count = 46500
count = 46600
count = 46700
count = 46800
count = 46900
count = 47000
count = 47100
count = 47200
count = 47300
count = 47400
count = 47500
count = 47600
count = 47700
count = 47800
count = 47900
count = 48000
count = 48100
count = 48200
count = 48300
count = 48400
count = 48500
count = 48600
count = 48700
count = 48800
count = 48900
count = 49000
count = 49100
count = 49200
count = 49300
count = 49400
count = 49500
count = 49600
count = 49700
count = 49800
count = 49900
count = 50000
count = 50100
count = 50200
count = 50300
count = 50400
count = 50500
count = 50600
count = 50700
count = 50800
count = 50900
count = 51000
count = 51100
count = 51200
count = 51300
count = 51400
count = 51500
count = 51600
count = 51700
count = 51800
count = 51900
count = 52000
count = 52100
count = 52200
count = 52300
count = 52400
count = 52500
count = 52600
count = 52700
count = 52800
count = 52900
count = 53000
count = 53100
count = 53200
count = 53300
count = 53400
count = 53500
count = 53600
count = 53700
count = 53800
count = 53900
count = 54000
count = 54100
count = 54200
count = 54300
count = 54400
count = 54500
count = 54600
count = 54700
count = 54800
count = 54900
count = 55000
count = 55100
count = 55200
count = 55300
count = 55400
count = 55500
count = 55600
count = 55700
count = 55800
count = 55900
count = 56000
count = 56100
count = 56200
count = 56300
count = 56400
count = 56500
count = 56600
count = 56700
count = 56800
count = 56900
count = 57000
count = 57100
count = 57200
count = 57300
count = 57400
count = 57500
count = 57600
count = 57700
count = 57800
count = 57900
count = 58000
count = 58100
count = 58200
count = 58300
count = 58400
count = 58500
count = 58600
count = 58700
count = 58800
count = 58900
count = 59000
count = 59100
count = 59200
count = 59300

count = 59400
count = 59500
count = 59600
count = 59700
count = 59800
count = 59900
count = 60000
count = 60100
count = 60200
count = 60300
count = 60400
count = 60500
count = 60600
count = 60700
count = 60800
count = 60900
count = 61000
count = 61100
count = 61200
count = 61300
count = 61400
count = 61500
count = 61600
count = 61700
count = 61800
count = 61900
count = 62000
count = 62100
count = 62200
count = 62300
count = 62400
count = 62500
count = 62600
count = 62700
count = 62800
count = 62900
count = 63000
count = 63100
count = 63200
count = 63300
count = 63400
count = 63500
count = 63600
count = 63700
count = 63800
count = 63900
count = 64000
count = 64100
count = 64200
count = 64300
count = 64400
count = 64500
count = 64600
count = 64700
count = 64800
count = 64900
count = 65000
count = 65100
count = 65200
count = 65300
count = 65400
count = 65500
count = 65600
count = 65700
count = 65800
count = 65900
count = 66000
count = 66100
count = 66200
count = 66300
count = 66400
count = 66500
count = 66600
count = 66700
count = 66800
count = 66900
count = 67000
count = 67100
count = 67200
count = 67300
count = 67400
count = 67500
count = 67600
count = 67700
count = 67800
count = 67900
count = 68000
count = 68100
count = 68200
count = 68300
count = 68400
count = 68500
count = 68600
count = 68700
count = 68800
count = 68900
count = 69000
count = 69100
count = 69200
count = 69300
count = 69400
count = 69500
count = 69600
count = 69700
count = 69800
count = 69900
count = 70000
count = 70100
count = 70200
count = 70300
count = 70400
count = 70500
count = 70600
count = 70700
count = 70800
count = 70900
count = 71000
count = 71100
count = 71200
count = 71300
count = 71400
count = 71500
count = 71600
count = 71700
count = 71800
count = 71900
count = 72000
count = 72100
count = 72200
count = 72300
count = 72400
count = 72500
count = 72600
count = 72700
count = 72800
count = 72900
count = 73000
count = 73100
count = 73200
count = 73300
count = 73400
count = 73500
count = 73600
count = 73700
count = 73800
count = 73900
count = 74000
count = 74100
count = 74200
count = 74300
count = 74400
count = 74500
count = 74600
count = 74700
count = 74800
count = 74900
count = 75000
count = 75100
count = 75200
count = 75300
count = 75400
count = 75500
count = 75600
count = 75700
count = 75800
count = 75900
count = 76000
count = 76100
count = 76200
count = 76300
count = 76400
count = 76500
count = 76600
count = 76700
count = 76800
count = 76900
count = 77000
count = 77100
count = 77200
count = 77300
count = 77400
count = 77500
count = 77600
count = 77700
count = 77800
count = 77900
count = 78000
count = 78100
count = 78200
count = 78300
count = 78400
count = 78500
count = 78600
count = 78700
count = 78800
count = 78900
count = 79000
count = 79100
count = 79200
count = 79300
count = 79400
count = 79500
count = 79600
count = 79700
count = 79800
count = 79900
count = 80000
count = 80100
count = 80200
count = 80300
count = 80400
count = 80500
count = 80600
count = 80700
count = 80800
count = 80900
count = 81000
count = 81100
count = 81200
count = 81300
count = 81400
count = 81500
count = 81600
count = 81700
count = 81800
count = 81900
count = 82000
count = 82100
count = 82200
count = 82300
count = 82400
count = 82500
count = 82600
count = 82700
count = 82800
count = 82900
count = 83000
count = 83100
count = 83200
count = 83300
count = 83400
count = 83500
count = 83600
count = 83700
count = 83800
count = 83900
count = 84000
count = 84100
count = 84200
count = 84300
count = 84400
count = 84500
count = 84600
count = 84700
count = 84800
count = 84900
count = 85000
count = 85100
count = 85200
count = 85300
count = 85400
count = 85500
count = 85600
count = 85700
count = 85800
count = 85900
count = 86000
count = 86100
count = 86200
count = 86300
count = 86400
count = 86500
count = 86600
count = 86700
count = 86800
count = 86900
count = 87000
count = 87100
count = 87200
count = 87300
count = 87400
count = 87500
count = 87600
count = 87700
count = 87800
count = 87900
count = 88000
count = 88100
count = 88200
count = 88300
count = 88400
count = 88500
count = 88600
count = 88700
count = 88800
count = 88900
count = 89000
count = 89100
count = 89200
count = 89300
count = 89400
count = 89500
count = 89600
count = 89700
count = 89800
count = 89900
count = 90000
count = 90100
count = 90200
count = 90300
count = 90400
count = 90500
count = 90600
count = 90700
count = 90800
count = 90900
count = 91000
count = 91100
count = 91200
count = 91300
count = 91400
count = 91500
count = 91600
count = 91700
count = 91800
count = 91900
count = 92000
count = 92100
count = 92200
count = 92300
count = 92400
count = 92500
count = 92600
count = 92700
count = 92800
count = 92900
count = 93000
count = 93100
count = 93200
count = 93300
count = 93400

In [10]:

with open('/tf/empty_homes_data/full_dataset_no_overlaps.json', 'w') as f:
    json.dump(data_labels_dict, f)

In [13]:
data_labels_dict[0]

{'text': 'westleigh lodge care home, nel pan lane, leigh (wn7 5jt)',
 'labels': [{'start': 27,
   'end': 39,
   'label': 'street_name',
   'label_text': 'nel pan lane'},
  {'start': 41, 'end': 46, 'label': 'city', 'label_text': 'leigh'},
  {'start': 48, 'end': 55, 'label': 'postcode', 'label_text': 'wn7 5jt'}],
 'datapoint_id': 0}

In [73]:

histo_thing = all_entities.groupby('datapoint_id').size()

#pd.DataFrame({'size' : histo_thing}).groupby('size').size()