# Unit tag and Span cleaning

This script combines two steps in the OCOD processing pipeline.

* unit tagging
* Removing overlapping spans

These two processes are separated by the weak labelling in humanloop but as they are relatively simple they are included in a single script

* **Raw CSV loaded and lightly processed. Output**: two column csv columns, property address, unit tag
* Data labelled in programmatic. Output: json file of entities.
* **Data programmatic output json cleaned ordered and overlaps removed**. Output: json file
* Clean json converted to dataframe and multi-addresses expanded. Output: CSV
* Count and locate addresses
* Create address matcher and match businesses
* Classify address types

## Unit tagging

This park of the pipeline adds in a binary value indicating whether the line contains flats/units/stores etc which are likely to have unit level ID. This is important as such addresses are likely to have a unit ID AND an street number and as such need to be treated with care

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import pandas as pd
import numpy as np
import re
import random
from helper_functions import *

In [2]:
ocod_data =  pd.read_csv('/tf/empty_homes_data/' +
                    'OCOD_FULL_2022_02.csv',
                   encoding_errors= 'ignore').rename(columns = lambda x: x.lower().replace(" ", "_"))
ocod_data['postcode'] = ocod_data['postcode'].str.upper()
#empty addresses cannot be used. however there are only three so not a problem
ocod_data = ocod_data.dropna(subset = 'property_address')
ocod_data.reset_index(inplace = True, drop = True)
ocod_data['property_address'] = ocod_data['property_address'].str.lower()

#ensure there is a space after commas
#This is because some numbers are are written as 1,2,3,4,5 which causes issues during tokenisation
ocod_data.property_address = ocod_data.property_address.str.replace(',', r', ')
#remove multiple spaces
ocod_data.property_address = ocod_data.property_address.str.replace('\s{2,}', r' ')


#different words associated with unit ID's
flatregex = r"(flat|apartment|penthouse|unit)" #unit|store|storage these a

#This is not an exhaustive list of road names but it covers about 80% of all road types in the VOA business register.
#The cardinal directions are includted as an option as they can appear after the road type. However they serve no real purpose in this particular regex and are 
#included for completness
road_regex  = r"((road|street|lane|way|gate|avenue|close|drive|hill|place|terrace|crescent|gardens|square|walk|grove|mews|row|view|boulevard|pleasant|vale|yard|chase|rise|green|passage|friars|viaduct|promenade|end|ridge|embankment|villas|circus))\b( east| west| north| south)?"
#These names may be followed by a road type e.g. Earls court road. A negative lookahead is used to prevent these roads being tagged as units.
flatregex2 = r"(mansions|villa|court)\b(?!(\s"+road_regex+"))"

#flat_tag is used for legacy reasons but refers to sub-units in general
ocod_data['flat_tag'] = ocod_data['property_address'].str.contains(flatregex + '|'+flatregex2, case = False)

ocod_data['commercial_park_tag'] = ocod_data['property_address'].str.contains(r"(retail|industrial|commercial|business|distribution|car)", case = False)

#typo in the data leads to a large number of fake flats
ocod_data.loc[:, 'property_address'] = ocod_data['property_address'].str.replace("stanley court ", "stanley court, ")
#This typo leads to some rather silly addresses
ocod_data.loc[:, 'property_address'] = ocod_data['property_address'].str.replace("100-1124", "100-112")

#only two columns are needed for the humanloop labelling process
ocod_data[['property_address', 'flat_tag', 'commercial_park_tag', 'title_number']].rename(columns = {'property_address':'text'}).to_csv('/tf/empty_homes_data/property_address_only.csv')

<ipython-input-2-d01412399f04>:1: DtypeWarning: Columns (24,28,30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  ocod_data =  pd.read_csv('/tf/empty_homes_data/' +
<ipython-input-2-d01412399f04>:14: FutureWarning: The default value of regex will change from True to False in a future version.
  ocod_data.property_address = ocod_data.property_address.str.replace('\s{2,}', r' ')
<ipython-input-2-d01412399f04>:28: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['flat_tag'] = ocod_data['property_address'].str.contains(flatregex + '|'+flatregex2, case = False)
<ipython-input-2-d01412399f04>:30: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['commercial_park_tag'] = ocod_data['property_address'].str.contains(r"(retail|industrial|commercial|business|distribution|car)", case = False)

In [3]:
#Create the index for the ground truth
random.seed(2017)
test_set = random.sample([*range(0, ocod_data.shape[0])], 1000) 

test_set = ocod_data.loc[test_set, 'title_number'].reset_index().rename(columns = {'index':'datapoint_id'})

test_set.to_csv('/tf/empty_homes_data/test_set_indices_space_cleaned.csv')

In [14]:
test = "I like eating cheese and ham"

coords = [(m.start(), m.end()) for m in re.finditer("load of old trousers", test)]

coords

[]

## Labelling in Humanloop

This part of process uses the humanloop programmatic app and is an external process. Once the labelling step is complete the process outputs a json file containing the labels and spans, this is then cleaned in the next step.

## Removing overlapping spans

During the humanloop tagging process the rules may result in the same words being tagged as part of multiple spans, this often occures for road names made up of multiple parts 
e.g. Canberra Crescent Gardens may be tagges as Canberra Cresecent and Canberra Crescent Gardens. The overlaps need to be removed before further prcoessing.
For simplicity the largest span of any two overlapping spans is kept and the smaller of the two is removed.

In [4]:
#These libraries are specific to this part of the process
import json
import requests 
import config #contains hidden api key
import operator #used for sorting the label dictionaries by start point. This is the basis for removing overlaps

In [9]:
# Opening JSON file
f =open("/tf/empty_homes_data/test.json")  #aggregate and download button

# returns JSON object as 
# a dictionary
data = json.load(f)

#this makes a list of all the observation rows. These refer to the row of the orginal observation text and so can be linked back to the original OCOD dataset.

In [10]:

datapoint_id_list = [*range(0,len(data['datapoints']))]

data_and_labels = []
data_labels_dict = []

count_it = 0
for i in set(datapoint_id_list):

    count_it += 1
    if count_it % 5000 == 0: 
        print('count = {}'.format(count_it))
        
    #single_id_index = np.where(np.array(datapoint_id_list)==i)
    ##these labels are in tuple form
   # list_of_labels = [(data[x]['start'], data[x]['end'], data[x]['label']) for x in single_id_index[0].tolist()]
    list_of_labels_dict = results_list = data['datapoints'][i]['programmatic']['results']
    ##these labels are in dictionary form
#     list_of_labels_dict = [{'start': x['start'], 
#                             'end':x['end'], 
#                             'label': x['label'], 
#                             'label_text': x['text'] } for x in results_list]
    
    #this inplace sorting using operator orders the dictionary by the start point. ties are automatically broken
    #it required the operator library
    list_of_labels_dict.sort(key=operator.itemgetter('start'))
    
    list_of_labels_dict = remove_overlapping_spans2(list_of_labels_dict)

    #create the NER dataset structure shown on the spacy website
   # data_and_labels = data_and_labels + [ ( ocod_data['property_address'][i], list_of_labels ) ]
    #create a list of dictionaries using a similar structure to save as a json
    data_labels_dict = data_labels_dict + [
        {
            'text' : ocod_data['property_address'][i],
            'labels' : list_of_labels_dict,
            'datapoint_id': i,
            'title_number':ocod_data['title_number'][i]
        }
    ]
    
#Save the cleaned data back as a json file ready to be processed further  
with open('/tf/empty_homes_data/full_dataset_no_overlaps.json', 'w') as f:
    json.dump(data_labels_dict, f)

count = 5000
count = 10000
count = 15000
count = 20000
count = 25000
count = 30000
count = 35000
count = 40000
count = 45000
count = 50000
count = 55000
count = 60000
count = 65000
count = 70000
count = 75000
count = 80000
count = 85000
count = 90000

### Uploading to humanloop cloud

This allows a sample of the data to be uploaded to the humanloop cloud so that an example model can be made.
The model provides another way to check the quality of the weak labelling. However, only 10k obersvations can be uploaded, as such a sub-sample is used.

In [26]:

# jason_test_data ={
#      "name": "test_set_24_04_22",
#      "description": "the ground truth test set for labelling",
#      "fields": [
#          {"name": "text", 
#           "data_type": "text"
#          },
#          {"name": "labels", 
#           "data_type": "character_offsets"},
#          {"name": "datapoint_id", 
#           "data_type": "text"
#          }
#      ],
#      "data": [data_labels_dict[x] for x in test_set.loc[:,'datapoint_id']]#, #upload only data from the test set
#    # "complete":False
# }

# #url = "https://api.humanloop.com/datasets"
# url = "https://api.humanloop.com/projects/1369/add-tasks"
# # replace payload with your actual dataset...
# payload= json.dumps(jason_test_data)
# headers = {
#   'X-API-Key': config.api_key,#the api key is hidden in a config file
#   'Content-Type': 'application/json'
# }

# response = requests.request("POST", url, headers=headers, data=payload)

# print(response.text)

{"detail":{"loc":["data"],"msg":"The following fields were specified but did not exist in your dataset: span_tagging","description":"The following fields were specified but did not exist in your dataset: span_tagging","type":"value_error"}}

In [62]:


# datapoint_id_list = test_set.loc[:,'datapoint_id'].to_list()

# data_and_labels = []
# data_labels_dict2 = []

# count_it = 0
# for i in datapoint_id_list:

#     count_it += 1
#     if count_it % 100 == 0: 
#         print('count = {}'.format(count_it))
        
#     list_of_labels_dict = results_list = data['datapoints'][i]['programmatic']['results']
    
#     #this inplace sorting using operator orders the dictionary by the start point. ties are automatically broken
#     #it required the operator library
#     list_of_labels_dict.sort(key=operator.itemgetter('start'))
    
#     list_of_labels_dict = remove_overlapping_spans2(list_of_labels_dict)
#     #create a list of dictionaries using a similar structure to save as a json
#     data_labels_dict2 = data_labels_dict + [
#         {
#             'text' : ocod_data['property_address'][i],
#             'entities' : list_of_labels_dict,
#             'datapoint_id': i,
#           #  'title_number':ocod_data['title_number'][i]
#         }
#     ]

count = 100
count = 200
count = 300
count = 400
count = 500
count = 600
count = 700
count = 800
count = 900
count = 1000

In [11]:
jason_test_data ={
     "name": "test_set_24_04_22",
     "description": "the ground truth test set for labelling",
     "fields": [
         {"name": "text", 
          "data_type": "text"
         },
         {"name": "labels", 
          "data_type": "character_offsets"},
         {"name": "datapoint_id", 
          "data_type": "text"
         }
     ],
     "data": [data_labels_dict[x] for x in test_set.loc[:,'datapoint_id']]#, #upload only data from the test set
}

# Create new project with unlabelled data

In [12]:

"""
Step 1: Specify URL and headers for your API requests and some helper methods 
Reference: https://api.humanloop.com/docs#section/Authentication
Notes: 
    - If you don't already have a Humanloop account,
      signup @ https://app.humanloop.com/signup
    - Replace <INSERT YOUR API KEY HERE> with your users X-API-KEY 
      @ https://app.humanloop.com/profile
"""
base_url = "https://api.humanloop.com"
headers = {
    "Content-Type": "application/json",
    "X-API-KEY":  config.api_key,#the api key is hidden in a config file
}
# use the email associated to your Humanloop account
project_owner = "jonathan.s.bourne@gmail.com"


def get_field_id_by_name(name: str, fields):
    """Helper method for parsing field_id from dataset.fields given the name"""
    return [field for field in fields if field["name"] == name][0]["id"]


""" 
Step 2: Create a dataset
Reference: https://api.humanloop.com/docs#operation/upload_data_datasets_post
Notes:
    - It can be helpful to include your own unique identifiers for your data-points
      if available so that you can easily correlate any annotations and predictions 
      created by Humanloop back to your system.
    - If using large datasets (> 10k rows), you will have to upload it in multiple 
      batches using the API. Starting with the POST as shown below, then adding 
      subsequent batches using the PUT against the newly created dataset 
      (https://api.humanloop.com/docs#operation/update_data_datasets__id__put.)
"""

dataset_fields = requests.post(
    url=f"{base_url}/datasets", data=json.dumps(jason_test_data), headers=headers
).json()["fields"]


"""
Step 3: Create a project
Reference: https://api.humanloop.com/docs#operation/create_project_projects_post
Notes:
    - A Humanloop project is made up of one or more datasets, a team of annotators 
      and a model. As your team begin to annotate the data, a model is trained in real 
      time and used to prioritise what data your annotators should focus on next 
      (see https://humanloop.com/blog/why-you-should-be-using-active-learning).
    - The project inputs specify those dataset fields you wish to show to 
      your annotators and the model. 
    - The project output specifies the type of model you wish to train and the 
      corresponding label taxonomy. 
    - If your dataset has a field with existing annotations, you can use this to 
      warm start your project as shown in the following examples. 
      If you want your team to first review these existing annotations in Humanloop, 
      set "review_existing_annotations" to True, otherwise they will be used 
      automatically to train an initial model.
    - Both classification (single and multi-label) and extraction
      projects are supported.
    - You can update your project with more data by either connecting another dataset 
      or simply adding additional data-points to your existing dataset. 
      Alternatively, you can submit tasks for your model and/or team to complete
      (see our Human-in-the-loop tutorial for more information on this!).
"""


"""
Step 3b: Span extraction project 
"""
extraction_project_request = {
    "name": "Ground truth for offshore empties V2 includes comma space",
    "inputs": [
        {
            "name": "text",
            "data_type": "text",
            "description": "unparsed addresses",
            "data_sources": [
                {"field_id": get_field_id_by_name("text", dataset_fields)}
            ],
        },
        {
            "name": "datapoint_id",
            "data_type": "text",
            "description": "The original row the data is on",
            "display_only": True,
            "data_sources": [
                {"field_id": get_field_id_by_name("datapoint_id", dataset_fields)}
            ],
        },
    ],
    "outputs": [
        {
            "name": "labels",
            "description": "entities address parts",
            "task_type": "sequence_tagging",
            "data_sources": [
                {"field_id": get_field_id_by_name("labels", dataset_fields)}
            ],
            # which input you wish your model to extract from
            "input": "text",
        }
    ],
    "users": [project_owner],
    "guidelines": "Insert your markdown annotator guidelines here",
    "review_existing_annotations": True,
}

extraction_project_id = requests.post(
    url=f"{base_url}/projects",
    data=json.dumps(extraction_project_request),
    headers=headers,
).json()["id"]

print(f"Navigate to https://app.humanloop.com/projects/{extraction_project_id}")

Navigate to https://app.humanloop.com/projects/1590

## create spacy old format

In [14]:
with open('/tf/empty_homes_data/humanloop_spacy_format.json', 'w') as f:
    json.dump(data_labels, f)

NameError: name 'data_labels' is not defined

In [77]:
datapoint_id_list = [*range(0,len(data['datapoints']))]
data_and_labels = []
data_labels_dict = []

count_it = 0
for i in set(datapoint_id_list):
    count_it += 1
    if count_it % 5000 == 0: 
        print('count = {}'.format(count_it))
        
    single_id_index = np.where(np.array(datapoint_id_list)==i)
    ##these labels are in tuple form
    
    results_list = data['datapoints'][i]['programmatic']['results']
    list_of_labels =[(x['start'],x['end'],x['label'] ) for x in results_list]
    
    #list_of_labels = [(data[x]['start'], data[x]['end'], data[x]['label']) for x in single_id_index[0].tolist()]
    
    list_of_labels.sort(key=lambda y: y[0])
    
    list_of_labels = remove_overlapping_spans_tuples(list_of_labels)
    #print(list_of_labels)
    #create the NER dataset structure shown on the spacy website
    data_and_labels = data_and_labels + [ {
        'datapoint_id': i,
        'text':ocod_data['property_address'][i], 
                                           'entities':list_of_labels}  ]

#Save the cleaned data back as a json file ready to be processed further  
with open('/tf/empty_homes_data/humanloop_spacy_format.json', 'w') as f:
    json.dump(data_and_labels, f)

count = 5000
count = 10000
count = 15000
count = 20000
count = 25000
count = 30000
count = 35000
count = 40000
count = 45000
count = 50000
count = 55000
count = 60000
count = 65000
count = 70000
count = 75000
count = 80000
count = 85000
count = 90000

In [78]:
with open('/tf/empty_homes_data/humanloop_spacy_format.json', 'w') as f:
    json.dump(data_and_labels, f)

In [80]:
f =open('/tf/empty_homes_data/humanloop_spacy_format.json')  #aggregate and download button

spacy_data = json.load(f)

In [33]:
spacy_data

[{'datapoint_id': 0,
  'text': 'westleigh lodge care home, nel pan lane, leigh (wn7 5jt)',
  'entities': [[0, 25, 'building_name'],
   [27, 39, 'street_name'],
   [41, 46, 'city'],
   [48, 55, 'postcode']]},
 {'datapoint_id': 1,
  'text': 'flat 1, 1a canal street, manchester (m1 3he)',
  'entities': [[0, 4, 'unit_type'],
   [5, 6, 'unit_id'],
   [8, 10, 'street_number'],
   [11, 23, 'street_name'],
   [25, 35, 'city'],
   [37, 43, 'postcode']]},
 {'datapoint_id': 2,
  'text': 'flat 201, 1 regent road, manchester (m3 4ay)',
  'entities': [[0, 4, 'unit_type'],
   [5, 8, 'unit_id'],
   [10, 11, 'street_number'],
   [12, 23, 'street_name'],
   [25, 35, 'city'],
   [37, 43, 'postcode']]},
 {'datapoint_id': 3,
  'text': 'land at 2a gerard street, ashton in makerfield, wigan (wn4 9aa)',
  'entities': [[0, 4, 'unit_type'],
   [11, 24, 'street_name'],
   [48, 53, 'city'],
   [55, 62, 'postcode']]},
 {'datapoint_id': 4,
  'text': 'unit 111, timber wharf, worsley street, manchester (m15 4nz)',
  'entities': [[0, 4, 'unit_type'],
   [5, 8, 'unit_id'],
   [10, 23, 'building_name'],
   [24, 38, 'street_name'],
   [40, 50, 'city'],
   [52, 59, 'postcode']]},
 {'datapoint_id': 5,
  'text': '81 hawksbill way, peterborough (pe2 8ns)',
  'entities': [[0, 2, 'street_number'],
   [3, 16, 'street_name'],
   [18, 30, 'city'],
   [32, 39, 'postcode']]},
 {'datapoint_id': 6,
  'text': '3 beluga close, peterborough (pe2 8nr)',
  'entities': [[0, 1, 'street_number'],
   [2, 14, 'street_name'],
   [16, 28, 'city'],
   [30, 37, 'postcode']]},
 {'datapoint_id': 7,
  'text': '232 hawksbill way, peterborough and parking space (pe2 8ny)',
  'entities': [[0, 3, 'street_number'],
   [4, 17, 'street_name'],
   [19, 49, 'city'],
   [51, 58, 'postcode']]},
 {'datapoint_id': 8,
  'text': 'land at cityscape, high street, peterborough',
  'entities': [[0, 4, 'unit_type'],
   [19, 30, 'street_name'],
   [32, 44, 'city']]},
 {'datapoint_id': 9,
  'text': 'land at queensgate centre, peterborough',
  'entities': [[0, 4, 'unit_type'],
   [8, 25, 'building_name'],
   [27, 39, 'city']]},
 {'datapoint_id': 10,
  'text': '51 beluga close, peterborough (pe2 8nr)',
  'entities': [[0, 2, 'street_number'],
   [3, 15, 'street_name'],
   [17, 29, 'city'],
   [31, 38, 'postcode']]},
 {'datapoint_id': 11,
  'text': '121 hawksbill way, peterborough (pe2 8ns)',
  'entities': [[0, 3, 'street_number'],
   [4, 17, 'street_name'],
   [19, 31, 'city'],
   [33, 40, 'postcode']]},
 {'datapoint_id': 12,
  'text': '44 beluga close, peterborough (pe2 8ne)',
  'entities': [[0, 2, 'street_number'],
   [3, 15, 'street_name'],
   [17, 29, 'city'],
   [31, 38, 'postcode']]},
 {'datapoint_id': 13,
  'text': '2-24 (even) miller way, 15-25 hammonds drive (odd) and 1-19 rudd close (odd) fengate, peterborough',
  'entities': [[0, 4, 'street_number'],
   [6, 10, 'number_filter'],
   [12, 22, 'street_name'],
   [24, 29, 'street_number'],
   [30, 44, 'street_name'],
   [46, 49, 'number_filter'],
   [55, 59, 'street_number'],
   [60, 70, 'street_name'],
   [72, 75, 'number_filter'],
   [77, 84, 'street_name'],
   [86, 98, 'city']]},
 {'datapoint_id': 14,
  'text': '155 hawksbill way, peterborough (pe2 8ns)',
  'entities': [[0, 3, 'street_number'],
   [4, 17, 'street_name'],
   [19, 31, 'city'],
   [33, 40, 'postcode']]},
 {'datapoint_id': 15,
  'text': '61 beluga close, peterborough (pe2 8nr)',
  'entities': [[0, 2, 'street_number'],
   [3, 15, 'street_name'],
   [17, 29, 'city'],
   [31, 38, 'postcode']]},
 {'datapoint_id': 16,
  'text': '139 hawksbill way, peterborough (pe2 8ns)',
  'entities': [[0, 3, 'street_number'],
   [4, 17, 'street_name'],
   [19, 31, 'city'],
   [33, 40, 'postcode']]},
 {'datapoint_id': 17,
  'text': 'the grafton centre, cambridge',
  'entities': [[0, 18, 'building_name'], [20, 29, 'street_name']]},
 {'datapoint_id': 18,
  'text': '157 hawksbill way, peterborough (pe2 8ns)',
  'entities': [[0, 3, 'street_number'],
   [4, 17, 'street_name'],
   [19, 31, 'city'],
   [33, 40, 'postcode']]},
 {'datapoint_id': 19,
  'text': '286 hawksbill way, peterborough (pe2 8ny)',
  'entities': [[0, 3, 'street_number'],
   [4, 17, 'street_name'],
   [19, 31, 'city'],
   [33, 40, 'postcode']]},
 {'datapoint_id': 20,
  'text': '88 great northern road, cambridge cb1 2fx',
  'entities': [[0, 2, 'street_number'],
   [3, 22, 'street_name'],
   [24, 33, 'city'],
   [34, 41, 'postcode']]},
 {'datapoint_id': 21,
  'text': '73 sheffield road, birdwell, barnsley (s70 5xf)',
  'entities': [[0, 2, 'street_number'],
   [3, 17, 'street_name'],
   [29, 37, 'city'],
   [39, 46, 'postcode']]},
 {'datapoint_id': 22,
  'text': '79 sheffield road, birdwell, barnsley (s70 5xf)',
  'entities': [[0, 2, 'street_number'],
   [3, 17, 'street_name'],
   [29, 37, 'city'],
   [39, 46, 'postcode']]},
 {'datapoint_id': 23,
  'text': '185 sheffield road, birdwell, barnsley (s70 5tj)',
  'entities': [[0, 3, 'street_number'],
   [4, 18, 'street_name'],
   [30, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 24,
  'text': '211 sheffield road, birdwell, barnsley (s70 5tj)',
  'entities': [[0, 3, 'street_number'],
   [4, 18, 'street_name'],
   [30, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 25,
  'text': '298 sheffield road, birdwell, barnsley (s70 5tg)',
  'entities': [[0, 3, 'street_number'],
   [4, 18, 'street_name'],
   [30, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 26,
  'text': '266 sheffield road, birdwell, barnsley (s70 5tf)',
  'entities': [[0, 3, 'street_number'],
   [4, 18, 'street_name'],
   [30, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 27,
  'text': 'apartment 223, daisy spring works, 1 dun street, sheffield (s3 8dr)',
  'entities': [[0, 9, 'unit_type'],
   [10, 13, 'unit_id'],
   [35, 36, 'street_number'],
   [37, 47, 'street_name'],
   [49, 58, 'city'],
   [60, 66, 'postcode']]},
 {'datapoint_id': 28,
  'text': 'units 4 and 6, callflex business park, doncaster road, wath upon dearne, rotherham (s63 7ef)',
  'entities': [[0, 4, 'unit_type'],
   [6, 7, 'unit_id'],
   [39, 53, 'street_name'],
   [73, 82, 'city'],
   [84, 91, 'postcode']]},
 {'datapoint_id': 29,
  'text': '274 sheffield road, birdwell, barnsley (s70 5tg)',
  'entities': [[0, 3, 'street_number'],
   [4, 18, 'street_name'],
   [30, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 30,
  'text': 'land and buildings on the north east side of surbiton street, sheffield',
  'entities': [[0, 4, 'unit_type'],
   [45, 60, 'street_name'],
   [62, 71, 'city']]},
 {'datapoint_id': 31,
  'text': 'gateway plaza hotel, sackville street, barnsley, yorkshire (s70 2rd)',
  'entities': [[0, 19, 'building_name'],
   [21, 37, 'street_name'],
   [49, 58, 'city'],
   [60, 67, 'postcode']]},
 {'datapoint_id': 32,
  'text': 'apartment 210, daisy spring works, 1 dun street, sheffield (s3 8dr)',
  'entities': [[0, 9, 'unit_type'],
   [10, 13, 'unit_id'],
   [35, 36, 'street_number'],
   [37, 47, 'street_name'],
   [49, 58, 'city'],
   [60, 66, 'postcode']]},
 {'datapoint_id': 33,
  'text': 'apartment 132, daisy spring works, 1 dun street, sheffield (s3 8dr)',
  'entities': [[0, 9, 'unit_type'],
   [10, 13, 'unit_id'],
   [35, 36, 'street_number'],
   [37, 47, 'street_name'],
   [49, 58, 'city'],
   [60, 66, 'postcode']]},
 {'datapoint_id': 34,
  'text': 'apartment 317, daisy spring works, 1 dun street, sheffield (s3 8du)',
  'entities': [[0, 9, 'unit_type'],
   [10, 13, 'unit_id'],
   [35, 36, 'street_number'],
   [37, 47, 'street_name'],
   [49, 58, 'city'],
   [60, 66, 'postcode']]},
 {'datapoint_id': 35,
  'text': 'unit 2, smithy wood drive, smithy wood business park, sheffield (s35 1qn)',
  'entities': [[0, 4, 'unit_type'],
   [5, 6, 'unit_id'],
   [8, 25, 'street_name'],
   [54, 63, 'city'],
   [65, 72, 'postcode']]},
 {'datapoint_id': 36,
  'text': 'airspace above 4 rotherwood crescent, thurcroft, rotherham (s66 9pp)',
  'entities': [[0, 8, 'unit_type'],
   [17, 36, 'street_name'],
   [49, 58, 'city'],
   [60, 67, 'postcode']]},
 {'datapoint_id': 37,
  'text': 'airspace above 4 lark avenue, brinsworth, rotherham (s60 5lr)',
  'entities': [[0, 8, 'unit_type'],
   [17, 28, 'street_name'],
   [42, 51, 'city'],
   [53, 60, 'postcode']]},
 {'datapoint_id': 38,
  'text': '1-25 (excluding 13) acorn way, sunnyside, rotherham (s66 3xh)',
  'entities': [[0, 4, 'street_number'],
   [20, 29, 'street_name'],
   [42, 51, 'city'],
   [53, 60, 'postcode']]},
 {'datapoint_id': 39,
  'text': 'airspace above 79 lapwater road, rotherham (s61 4lr)',
  'entities': [[0, 8, 'unit_type'],
   [18, 31, 'street_name'],
   [33, 42, 'city'],
   [44, 51, 'postcode']]},
 {'datapoint_id': 40,
  'text': 'airspace above 85 goodwin road, rotherham (s61 4dw)',
  'entities': [[0, 8, 'unit_type'],
   [18, 30, 'street_name'],
   [32, 41, 'city'],
   [43, 50, 'postcode']]},
 {'datapoint_id': 41,
  'text': 'parking space 161 moho, ellesmere street, manchester',
  'entities': [[0, 13, 'unit_type'],
   [24, 40, 'street_name'],
   [42, 52, 'city']]},
 {'datapoint_id': 42,
  'text': 'parking space 91 burton place, manchester',
  'entities': [[0, 13, 'unit_type'],
   [17, 29, 'street_name'],
   [31, 41, 'city']]},
 {'datapoint_id': 43,
  'text': 'parking space 16, chips, 2 lampwick lane, manchester (m4 6bu)',
  'entities': [[0, 13, 'unit_type'],
   [25, 26, 'street_number'],
   [27, 40, 'street_name'],
   [42, 52, 'city'],
   [54, 60, 'postcode']]},
 {'datapoint_id': 44,
  'text': '1, 4 and 5 top park close, warburton, lymm (wa13 9nz)',
  'entities': [[0, 1, 'street_number'],
   [3, 4, 'street_number'],
   [9, 10, 'street_number'],
   [11, 25, 'street_name'],
   [38, 42, 'city'],
   [44, 52, 'postcode']]},
 {'datapoint_id': 45,
  'text': '28 newbridge close, radcliffe, manchester (m26 2wb)',
  'entities': [[0, 2, 'street_number'],
   [3, 18, 'street_name'],
   [31, 41, 'city'],
   [43, 50, 'postcode']]},
 {'datapoint_id': 46,
  'text': '70 to 98 (even), weavermill park, ashton in makerfield, wigan (wn4 9ez)',
  'entities': [[0, 8, 'street_number'],
   [10, 14, 'number_filter'],
   [17, 32, 'street_name'],
   [56, 61, 'city'],
   [63, 70, 'postcode']]},
 {'datapoint_id': 47,
  'text': '3a, 5a and 8a hesketh drive, standish, wigan (wn6 0sf)',
  'entities': [[0, 2, 'street_number'],
   [4, 6, 'street_number'],
   [11, 13, 'street_number'],
   [14, 27, 'street_name'],
   [39, 44, 'city'],
   [46, 53, 'postcode']]},
 {'datapoint_id': 48,
  'text': '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 16, 18, 19, 21 and 22 heath house close, lowton, and 106 and 108 stone cross lane north, lowton, warrington',
  'entities': [[0, 1, 'street_number'],
   [3, 4, 'street_number'],
   [6, 7, 'street_number'],
   [9, 10, 'street_number'],
   [12, 13, 'street_number'],
   [15, 16, 'street_number'],
   [18, 19, 'street_number'],
   [21, 22, 'street_number'],
   [24, 25, 'street_number'],
   [27, 29, 'street_number'],
   [31, 33, 'street_number'],
   [35, 37, 'street_number'],
   [39, 41, 'street_number'],
   [43, 45, 'street_number'],
   [47, 49, 'street_number'],
   [51, 53, 'street_number'],
   [58, 60, 'street_number'],
   [61, 78, 'street_name'],
   [92, 95, 'street_number'],
   [100, 103, 'street_number'],
   [104, 126, 'street_name'],
   [136, 146, 'city']]},
 {'datapoint_id': 49,
  'text': 'southern tower, bengal mill, bengal street, manchester (m4 6af)',
  'entities': [[0, 14, 'building_name'],
   [29, 42, 'street_name'],
   [44, 54, 'city'],
   [56, 62, 'postcode']]},
 {'datapoint_id': 50,
  'text': '25 newbridge close, radcliffe, manchester (m26 2wb)',
  'entities': [[0, 2, 'street_number'],
   [3, 18, 'street_name'],
   [31, 41, 'city'],
   [43, 50, 'postcode']]},
 {'datapoint_id': 51,
  'text': '22 newbridge close, radcliffe, manchester (m26 2wb)',
  'entities': [[0, 2, 'street_number'],
   [3, 18, 'street_name'],
   [31, 41, 'city'],
   [43, 50, 'postcode']]},
 {'datapoint_id': 52,
  'text': 'unit 3, the vibe, 175 broughton lane, salford (m7 1us)',
  'entities': [[0, 4, 'unit_type'],
   [5, 6, 'unit_id'],
   [18, 21, 'street_number'],
   [22, 36, 'street_name'],
   [38, 45, 'city'],
   [47, 53, 'postcode']]},
 {'datapoint_id': 53,
  'text': 'land on the south side of cornishway, manchester',
  'entities': [[0, 4, 'unit_type'],
   [26, 36, 'street_name'],
   [38, 48, 'city']]},
 {'datapoint_id': 54,
  'text': 'land lying to the north of lodge side, bury',
  'entities': [[0, 4, 'unit_type'],
   [27, 37, 'street_name'],
   [39, 43, 'city']]},
 {'datapoint_id': 55,
  'text': 'land at partington shopping centre, central road, partington, manchester',
  'entities': [[0, 4, 'unit_type'],
   [8, 34, 'building_name'],
   [36, 48, 'street_name'],
   [62, 72, 'city']]},
 {'datapoint_id': 56,
  'text': '2 and 4 colliers grove, 16 gadfield grove, 11, 12, 16, 19, 21, 22, 24-30, 32, 33, 35-37 and 41 albion close, atherton, manchester',
  'entities': [[0, 1, 'street_number'],
   [6, 7, 'street_number'],
   [8, 22, 'street_name'],
   [24, 26, 'street_number'],
   [27, 41, 'street_name'],
   [43, 45, 'street_number'],
   [47, 49, 'street_number'],
   [51, 53, 'street_number'],
   [55, 57, 'street_number'],
   [59, 61, 'street_number'],
   [63, 65, 'street_number'],
   [67, 72, 'street_number'],
   [74, 76, 'street_number'],
   [78, 80, 'street_number'],
   [82, 87, 'street_number'],
   [92, 94, 'street_number'],
   [95, 107, 'street_name'],
   [119, 129, 'city']]},
 {'datapoint_id': 57,
  'text': '2 to 4 and 6 to 11 (inclusive), junction close, blackrod, bolton (bl6 5gn)',
  'entities': [[0, 6, 'street_number'],
   [11, 18, 'street_number'],
   [32, 46, 'street_name'],
   [58, 64, 'city'],
   [66, 73, 'postcode']]},
 {'datapoint_id': 58,
  'text': '3 and 5 bloomsbury crescent, 2, 4, 7, 9, 11, 12 and 14 burlington drive and 2, 3, 5, 14 and 16 windsor gardens, bolton',
  'entities': [[0, 1, 'street_number'],
   [6, 7, 'street_number'],
   [8, 27, 'street_name'],
   [29, 30, 'street_number'],
   [32, 33, 'street_number'],
   [35, 36, 'street_number'],
   [38, 39, 'street_number'],
   [41, 43, 'street_number'],
   [45, 47, 'street_number'],
   [52, 54, 'street_number'],
   [55, 71, 'street_name'],
   [76, 77, 'street_number'],
   [79, 80, 'street_number'],
   [82, 83, 'street_number'],
   [85, 87, 'street_number'],
   [92, 94, 'street_number'],
   [95, 110, 'street_name'],
   [112, 118, 'city']]},
 {'datapoint_id': 59,
  'text': '59 and 71 lawnhurst avenue, apartment 8, 240 lawnhurst avenue, apartments 3, 8 and 13, 242 lawnhurst avenue, apartment 6, 244 lawnhurst avenue, apartments 4 and 9, 246 lawnhurst avenue and apartment 13, 248 lawnhurst avenue, wythenshawe, manchester',
  'entities': [[0, 2, 'unit_id'],
   [7, 9, 'unit_id'],
   [10, 26, 'street_name'],
   [28, 37, 'unit_type'],
   [38, 39, 'unit_id'],
   [41, 44, 'street_number'],
   [45, 61, 'street_name'],
   [77, 78, 'street_number'],
   [83, 85, 'unit_id'],
   [87, 90, 'street_number'],
   [91, 107, 'street_name'],
   [109, 118, 'unit_type'],
   [119, 120, 'unit_id'],
   [122, 125, 'street_number'],
   [126, 142, 'street_name'],
   [155, 156, 'unit_id'],
   [164, 167, 'street_number'],
   [168, 184, 'street_name'],
   [189, 198, 'unit_type'],
   [199, 201, 'unit_id'],
   [203, 206, 'street_number'],
   [207, 223, 'street_name'],
   [238, 248, 'city']]},
 {'datapoint_id': 60,
  'text': 'keerford view, 152 lancaster road, carnforth (la5 9ee)',
  'entities': [[0, 13, 'building_name'],
   [15, 18, 'street_number'],
   [19, 33, 'street_name'],
   [35, 44, 'city'],
   [46, 53, 'postcode']]},
 {'datapoint_id': 61,
  'text': 'bingo hall, waterside centre, saltergate, lincoln (ln2 1dh)',
  'entities': [[0, 10, 'building_name'],
   [12, 28, 'building_name'],
   [30, 40, 'street_name'],
   [42, 49, 'city'],
   [51, 58, 'postcode']]},
 {'datapoint_id': 62,
  'text': '6, 15, 16, 17, 20, 21, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 39, 40, 41, 42 and 44 ann street, hyde (sk14 2ba)',
  'entities': [[0, 1, 'street_number'],
   [3, 5, 'street_number'],
   [7, 9, 'street_number'],
   [11, 13, 'street_number'],
   [15, 17, 'street_number'],
   [19, 21, 'street_number'],
   [23, 25, 'street_number'],
   [27, 29, 'street_number'],
   [31, 33, 'street_number'],
   [35, 37, 'street_number'],
   [39, 41, 'street_number'],
   [43, 45, 'street_number'],
   [47, 49, 'street_number'],
   [51, 53, 'street_number'],
   [55, 57, 'street_number'],
   [59, 61, 'street_number'],
   [63, 65, 'street_number'],
   [67, 69, 'street_number'],
   [71, 73, 'street_number'],
   [75, 77, 'street_number'],
   [82, 84, 'street_number'],
   [85, 95, 'street_name'],
   [97, 101, 'city'],
   [103, 111, 'postcode']]},
 {'datapoint_id': 63,
  'text': '2 almond pastures, standish, wigan (wn6 0gg)',
  'entities': [[0, 1, 'street_number'],
   [29, 34, 'city'],
   [36, 43, 'postcode']]},
 {'datapoint_id': 64,
  'text': '4 almond pastures, standish, wigan (wn6 0gg)',
  'entities': [[0, 1, 'street_number'],
   [29, 34, 'city'],
   [36, 43, 'postcode']]},
 {'datapoint_id': 65,
  'text': '10 spinners drive, worsley, manchester (m28 3ub)',
  'entities': [[0, 2, 'street_number'],
   [3, 17, 'street_name'],
   [28, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 66,
  'text': '12 spinners drive, worsley, manchester (m28 3ub)',
  'entities': [[0, 2, 'street_number'],
   [3, 17, 'street_name'],
   [28, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 67,
  'text': '1 spinners drive, worsley, manchester (m28 3ub)',
  'entities': [[0, 1, 'street_number'],
   [2, 16, 'street_name'],
   [27, 37, 'city'],
   [39, 46, 'postcode']]},
 {'datapoint_id': 68,
  'text': '23 spinners drive, worsley, manchester (m28 3ub)',
  'entities': [[0, 2, 'street_number'],
   [3, 17, 'street_name'],
   [28, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 69,
  'text': '21 spinners drive, worsley, manchester (m28 3ub)',
  'entities': [[0, 2, 'street_number'],
   [3, 17, 'street_name'],
   [28, 38, 'city'],
   [40, 47, 'postcode']]},
 {'datapoint_id': 70,
  'text': 'land and buildings on the west side of gaskell street, bolton',
  'entities': [[0, 4, 'unit_type'],
   [39, 53, 'street_name'],
   [55, 61, 'city']]},
 {'datapoint_id': 71,
  'text': 'land lying to the north-east of manchester road, bolton',
  'entities': [[0, 4, 'unit_type'],
   [32, 47, 'street_name'],
   [49, 55, 'city']]},
 {'datapoint_id': 72,
  'text': '7 chatsworth court, bolton and parking space (bl1 4gq)',
  'entities': [[2, 18, 'building_name'],
   [20, 44, 'city'],
   [46, 53, 'postcode']]},
 {'datapoint_id': 73,
  'text': '17 chatsworth court, bolton and parking spaces (bl1 4gq)',
  'entities': [[0, 2, 'unit_id'],
   [3, 19, 'building_name'],
   [21, 46, 'city'],
   [48, 55, 'postcode']]},
 {'datapoint_id': 74,
  'text': '8 burlington drive, bolton (bl1 4er)',
  'entities': [[0, 1, 'street_number'],
   [2, 18, 'street_name'],
   [20, 26, 'city'],
   [28, 35, 'postcode']]},
 {'datapoint_id': 75,
  'text': 'apartment 504, number one, pink, media city uk, salford (m50 2ba)',
  'entities': [[0, 9, 'unit_type'],
   [10, 13, 'unit_id'],
   [48, 55, 'city'],
   [57, 64, 'postcode']]},
 {'datapoint_id': 76,
  'text': '1 spencer house, warburton lane, partington, manchester (m31 4nj)',
  'entities': [[0, 1, 'street_number'],
   [2, 15, 'building_name'],
   [17, 31, 'street_name'],
   [45, 55, 'city'],
   [57, 64, 'postcode']]},
 {'datapoint_id': 77,
  'text': '2, 4, 8, 10 and 14 abelia road, 1, 54, 68, 70, 74, 76, 78 and 80 hydrangea close westhoughton, bolton',
  'entities': [[0, 1, 'street_number'],
   [3, 4, 'street_number'],
   [6, 7, 'street_number'],
   [9, 11, 'street_number'],
   [16, 18, 'street_number'],
   [19, 30, 'street_name'],
   [32, 33, 'street_number'],
   [35, 37, 'street_number'],
   [39, 41, 'street_number'],
   [43, 45, 'street_number'],
   [47, 49, 'street_number'],
   [51, 53, 'street_number'],
   [55, 57, 'street_number'],
   [62, 64, 'street_number'],
   [95, 101, 'city']]},
 {'datapoint_id': 78,
  'text': '1000 aviator way, manchester (m22 5tg)',
  'entities': [[0, 4, 'street_number'],

In [138]:
import spacy
from spacy.tokens import DocBin
from spacy.lang.char_classes import LIST_PUNCT, LIST_ELLIPSES, LIST_QUOTES, LIST_CURRENCY
from spacy.lang.char_classes import LIST_ICONS, HYPHENS, CURRENCY, UNITS
from spacy.lang.char_classes import CONCAT_QUOTES, ALPHA_LOWER, ALPHA_UPPER, ALPHA, PUNCT
from spacy.util import compile_infix_regex

alignment_mode_type = "strict"

nlp = spacy.blank("en")

infixes = (
    LIST_ELLIPSES
    + LIST_ICONS
    + [
        r"(?<=[0-9])[+\-\,*^](?=[0-9-])",
        r"(?<=[{al}{q}])\.(?=[{au}{q}])".format(
            al=ALPHA_LOWER, au=ALPHA_UPPER, q=CONCAT_QUOTES
        ),
        r"(?<=[{a}]),(?=[{a}])".format(a=ALPHA),
        r"(?<=[{a}])(?:{h})(?=[{a}])".format(a=ALPHA, h=HYPHENS),
        r"(?<=[{a}0-9])[:<>=/](?=[{a}])".format(a=ALPHA),
    ]
)

infix_re = compile_infix_regex(infixes)
nlp.tokenizer.infix_finditer = infix_re.finditer


training_data = spacy_data
# the DocBin will store the example documents
db = DocBin()
for i in range(83, len(training_data)):
    current_set = training_data[i]
    print(i)
    doc = nlp(current_set['text'])
    ents = []
    for start, end, label in current_set['entities']:
        span = doc.char_span(start, end, label=label, alignment_mode = alignment_mode_type )
        ents.append(span)
    doc.ents = ents
    db.add(doc)
db.to_disk("/tf/empty_homes_data/spacy_data/train.spacy")

83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196

TypeError: object of type 'NoneType' has no len()

In [86]:
training_data = [{
  'text': 'westleigh lodge care home, nel pan lane, leigh (wn7 5jt)',
  'entities': [[0, 25, 'building_name'],
   [27, 39, 'street_name'],
   [41, 46, 'city'],
   [48, 55, 'postcode']]},
{
  'text': 'land at 2a gerard street, ashton in makerfield, wigan (wn4 9aa)',
  'entities': [(0, 4, 'unit_type'),
   (11, 24, 'street_name'),
   (48, 53, 'city'),
   (55, 62, 'postcode')]},
 {
  'text': 'unit 111, timber wharf, worsley street, manchester (m15 4nz)',
  'entities': [(0, 4, 'unit_type'),
   (5, 8, 'unit_id'),
   (10, 23, 'building_name'),
   (24, 38, 'street_name'),
   (40, 50, 'city'),
   (52, 59, 'postcode')]}]

training_data[0]['entities']

db = DocBin()
for i in range(0, len(training_data)):
    current_set = training_data[i]
    doc = nlp(current_set['text'])
    ents = []
    for start, end, label in current_set['entities']:
        span = doc.char_span(start, end, label=label)
        ents.append(span)
    doc.ents = ents
    db.add(doc)

In [139]:
training_data = spacy_data

training_data[i]

{'datapoint_id': 196,
 'text': '5, 7 and 9 seven sisters road, london (n7 6aj)',
 'entities': [[0, 1, 'street_number'],
  [2, 3, 'street_number'],
  [8, 9, 'street_number'],
  [10, 28, 'street_name'],
  [31, 37, 'city'],
  [38, 44, 'postcode']]}

In [140]:
#nlp = spacy.blank("en")
training_data = spacy_data
# the DocBin will store the example documents
db = DocBin()
for i in range(i,i+1):
    current_set = training_data[i]
    doc = nlp(current_set['text'])
    ents = []
    for start, end, label in current_set['entities']:
        span = doc.char_span(start, end, label=label, alignment_mode = alignment_mode_type )
        print(span)
        ents.append(span)
    doc.ents = ents

5
None
None
None
london
None

TypeError: object of type 'NoneType' has no len()

In [143]:
training_data[i]['text'][8:9]

' '

In [141]:
doc = nlp(current_set['text'])
for token in doc:
    print(token.text)

5
,
7
and
9
seven
sisters
road
,
london
(
n7
6aj
)

In [1]:
import re
texts = ['flat 1, tower block, 34 long road, Major city',
'flat 1, tower block, 34 long road, town and parking space',
'34 short road, village on the river and carpark (7X3 8RG)']
rx = re.compile(r'.*,\s*([^,]*?)(?=(?:\sand\s[^,]*)?$)')
for text in texts:
    m = re.search(rx, text)
    if m:
        print(m.group(1))

Major city
town
village on the river

In [22]:
import re
texts = ['flat 1, tower block, 34 long road, Major city',
'flat 1, tower block, 34 long road, town and parking space',
'34 short road, village on the river and carpark (7X3 8RG)']

search_pattern = re.compile(r'.*,\s*([^,]*?)(?=(?:\sand\s[^,]*)?$)')

texts = ocod_data['property_address'].tolist()

holding_list = []

for text in texts:

    match = re.search(search_pattern, text)

    if match:
        start = match.span(1)[0]
        end = match.span(1)[1]
        temp_tuple = (match.group(1), match.span(1)[0],match.span(1)[1], match.start(), match.end())
        #print((match.group(1), match.span(1)[0],match.span(1)[1], match.start(), match.end()))
        if start >=end:
            print()
            
        holding_list = holding_list +[temp_tuple]
   # if m:
   #     print(m.group(1))

In [21]:
holding_list

[('leigh (wn7 5jt)', 41, 56, 0, 56),
 ('manchester (m1 3he)', 25, 44, 0, 44),
 ('manchester (m3 4ay)', 25, 44, 0, 44),
 ('wigan (wn4 9aa)', 48, 63, 0, 63),
 ('manchester (m15 4nz)', 40, 60, 0, 60),
 ('peterborough (pe2 8ns)', 18, 40, 0, 40),
 ('peterborough (pe2 8nr)', 16, 38, 0, 38),
 ('peterborough', 19, 31, 0, 31),
 ('peterborough', 32, 44, 0, 44),
 ('peterborough', 27, 39, 0, 39),
 ('peterborough (pe2 8nr)', 17, 39, 0, 39),
 ('peterborough (pe2 8ns)', 19, 41, 0, 41),
 ('peterborough (pe2 8ne)', 17, 39, 0, 39),
 ('peterborough', 86, 98, 0, 98),
 ('peterborough (pe2 8ns)', 19, 41, 0, 41),
 ('peterborough (pe2 8nr)', 17, 39, 0, 39),
 ('peterborough (pe2 8ns)', 19, 41, 0, 41),
 ('cambridge', 20, 29, 0, 29),
 ('peterborough (pe2 8ns)', 19, 41, 0, 41),
 ('peterborough (pe2 8ny)', 19, 41, 0, 41),
 ('cambridge cb1 2fx', 24, 41, 0, 41),
 ('barnsley (s70 5xf)', 29, 47, 0, 47),
 ('barnsley (s70 5xf)', 29, 47, 0, 47),
 ('barnsley (s70 5tj)', 30, 48, 0, 48),
 ('barnsley (s70 5tj)', 30, 48, 0, 48),
 ('barnsley (s70 5tg)', 30, 48, 0, 48),
 ('barnsley (s70 5tf)', 30, 48, 0, 48),
 ('sheffield (s3 8dr)', 49, 67, 0, 67),
 ('rotherham (s63 7ef)', 73, 92, 0, 92),
 ('barnsley (s70 5tg)', 30, 48, 0, 48),
 ('sheffield', 62, 71, 0, 71),
 ('yorkshire (s70 2rd)', 49, 68, 0, 68),
 ('sheffield (s3 8dr)', 49, 67, 0, 67),
 ('sheffield (s3 8dr)', 49, 67, 0, 67),
 ('sheffield (s3 8du)', 49, 67, 0, 67),
 ('sheffield (s35 1qn)', 54, 73, 0, 73),
 ('rotherham (s66 9pp)', 49, 68, 0, 68),
 ('rotherham (s60 5lr)', 42, 61, 0, 61),
 ('rotherham (s66 3xh)', 42, 61, 0, 61),
 ('rotherham (s61 4lr)', 33, 52, 0, 52),
 ('rotherham (s61 4dw)', 32, 51, 0, 51),
 ('manchester', 42, 52, 0, 52),
 ('manchester', 31, 41, 0, 41),
 ('manchester (m4 6bu)', 42, 61, 0, 61),
 ('lymm (wa13 9nz)', 38, 53, 0, 53),
 ('manchester (m26 2wb)', 31, 51, 0, 51),
 ('wigan (wn4 9ez)', 56, 71, 0, 71),
 ('wigan (wn6 0sf)', 39, 54, 0, 54),
 ('warrington', 136, 146, 0, 146),
 ('manchester (m4 6af)', 44, 63, 0, 63),
 ('manchester (m26 2wb)', 31, 51, 0, 51),
 ('manchester (m26 2wb)', 31, 51, 0, 51),
 ('salford (m7 1us)', 38, 54, 0, 54),
 ('manchester', 38, 48, 0, 48),
 ('bury', 39, 43, 0, 43),
 ('manchester', 62, 72, 0, 72),
 ('manchester', 119, 129, 0, 129),
 ('bolton (bl6 5gn)', 58, 74, 0, 74),
 ('bolton', 112, 118, 0, 118),
 ('manchester', 238, 248, 0, 248),
 ('carnforth (la5 9ee)', 35, 54, 0, 54),
 ('lincoln (ln2 1dh)', 42, 59, 0, 59),
 ('hyde (sk14 2ba)', 97, 112, 0, 112),
 ('wigan (wn6 0gg)', 29, 44, 0, 44),
 ('wigan (wn6 0gg)', 29, 44, 0, 44),
 ('manchester (m28 3ub)', 28, 48, 0, 48),
 ('manchester (m28 3ub)', 28, 48, 0, 48),
 ('manchester (m28 3ub)', 27, 47, 0, 47),
 ('manchester (m28 3ub)', 28, 48, 0, 48),
 ('manchester (m28 3ub)', 28, 48, 0, 48),
 ('bolton', 55, 61, 0, 61),
 ('bolton', 49, 55, 0, 55),
 ('bolton', 20, 26, 0, 26),
 ('bolton', 21, 27, 0, 27),
 ('bolton (bl1 4er)', 20, 36, 0, 36),
 ('salford (m50 2ba)', 48, 65, 0, 65),
 ('manchester (m31 4nj)', 45, 65, 0, 65),
 ('bolton', 95, 101, 0, 101),
 ('manchester (m22 5tg)', 18, 38, 0, 38),
 ('cambridge cb1 2fx', 24, 41, 0, 41),
 ('cambridge (cb1 2fx)', 24, 43, 0, 43),
 ('peterborough (pe2 9fl)', 16, 38, 0, 38),
 ('ely', 47, 50, 0, 50),
 ('peterborough (pe2 8ns)', 18, 40, 0, 40),
 ('cambridge (cb1 1bx)', 32, 51, 0, 51),
 ('ely (cb6 1gd)', 29, 42, 0, 42),
 ('peterborough (pe2 8ns)', 18, 40, 0, 40),
 ('cambridge (cb1 3fd)', 20, 39, 0, 39),
 ('wisbech', 46, 53, 0, 53),
 ('cambridge (cb4 1db)', 18, 37, 0, 37),
 ('peterborough (pe7 3fu)', 36, 58, 0, 58),
 ('cambridge (cb24 9ph)', 57, 77, 0, 77),
 ('wisbech', 55, 62, 0, 62),
 ('redcar (ts10 3ja)', 32, 49, 0, 49),
 ('middlesbrough (ts1 1rg)', 19, 42, 0, 42),
 ('hartburn', 39, 47, 0, 47),
 ('stockton-on-tees', 24, 40, 0, 40),
 ('stockton-on-tees (ts17 9jy)', 51, 78, 0, 78),
 ('middlesbrough (ts1 1su)', 20, 43, 0, 43),
 ('doncaster (dn12 1pn)', 45, 65, 0, 65),
 ('rotherham (s61 4bd)', 36, 55, 0, 55),
 ('rotherham (s60 5pe)', 47, 66, 0, 66),
 ('rotherham (s61 2jg)', 40, 59, 0, 59),
 ('doncaster (dn3 1hj)', 45, 64, 0, 64),
 ('rotherham (s61 4bd)', 36, 55, 0, 55),
 ('rotherham (s60 5ll)', 44, 63, 0, 63),
 ('doncaster (dn12 1hu)', 43, 63, 0, 63),
 ('doncaster (dn12 3pf)', 43, 63, 0, 63),
 ('rotherham (s60 5lj)', 48, 67, 0, 67),
 ('barnsley (s73 0ug)', 53, 71, 0, 71),
 ('barnsley (s71 2dx)', 43, 61, 0, 61),
 ('rotherham (s60 2ry)', 34, 53, 0, 53),
 ('sheffield (s26 2dt)', 41, 60, 0, 60),
 ('doncaster (dn12 4te)', 46, 66, 0, 66),
 ('rotherham (s66 7dh)', 40, 59, 0, 59),
 ('rotherham (s61 4bt)', 36, 55, 0, 55),
 ('rotherham (s66 7eu)', 44, 63, 0, 63),
 ('rotherham (s60 5ln)', 44, 63, 0, 63),
 ('rotherham (s65 1qp)', 18, 37, 0, 37),
 ('sheffield (s1 4qw)', 17, 35, 0, 35),
 ('gerrards cross', 45, 59, 0, 59),
 ('slough (sl1 8ag)', 27, 43, 0, 43),
 ('henley-on-thames (rg9 6tl)', 43, 69, 0, 69),
 ('aylesbury', 31, 40, 0, 40),
 ('milton keynes (mk13 9hf)', 33, 57, 0, 57),
 ('milton keynes', 26, 39, 0, 39),
 ('bourne end (sl8 5tj)', 15, 35, 0, 35),
 ('chalfont st giles (hp8 4fa)', 40, 67, 0, 67),
 ('aylesbury', 61, 70, 0, 70),
 ('milton keynes (mk9 3lz)', 36, 59, 0, 59),
 ('milton keynes (mk9 3pl)', 16, 39, 0, 39),
 ('henley-on-thames (rg9 6tg)', 34, 60, 0, 60),
 ('henley-on-thames (rg9 6tg)', 57, 83, 0, 83),
 ('henley-on-thames', 29, 45, 0, 45),
 ('peterborough (pe1 5ps)', 49, 71, 0, 71),
 ('march (pe15 8tp)', 17, 33, 0, 33),
 ('cambridge (cb1 9xf)', 31, 50, 0, 50),
 ('peterborough (pe2 6yx)', 65, 87, 0, 87),
 ('ely (cb6 3nn)', 44, 57, 0, 57),
 ('stockport (sk3 0rj)', 46, 65, 0, 65),
 ('rochdale', 78, 86, 0, 86),
 ('manchester (m27 4dy)', 40, 60, 0, 60),
 ('salford (m50 2np)', 28, 45, 0, 45),
 ('oldham', 22, 28, 0, 28),
 ('salford (m3 7ef)', 92, 108, 0, 108),
 ('manchester (m15 4qx)', 65, 85, 0, 85),
 ('altringham (wa14 1bl)', 98, 119, 0, 119),
 ('manchester (m28 3ub)', 28, 48, 0, 48),
 ('wigan wn3 5ax', 19, 32, 0, 32),
 ('manchester (m4 1ab)', 55, 74, 0, 74),
 ('manchester (m4 1ab)', 55, 74, 0, 74),
 ('salford (m3 6gd)', 69, 85, 0, 85),
 ('salford (m3 6dd)', 39, 55, 0, 55),
 ('salford', 37, 44, 0, 44),
 ('manchester (m15 5ph)', 50, 70, 0, 70),
 ('salford', 47, 54, 0, 54),
 ('manchester', 40, 50, 0, 50),
 ('manchester (m15 6az)', 30, 50, 0, 50),
 ('manchester (m15 6az)', 30, 50, 0, 50),
 ('middlesbrough (ts8 0bg)', 34, 57, 0, 57),
 ('linthorpe', 43, 52, 0, 52),
 ('stockton-on-tees (ts18 1sp)', 27, 54, 0, 54),
 ('hartlepool', 45, 55, 0, 55),
 ('yarm', 39, 43, 0, 43),
 ('middlesbrough', 25, 38, 0, 38),
 ('billingham (ts22 5tb)', 43, 64, 0, 64),
 ('stockton-on-tees', 18, 34, 0, 34),
 ('billingham', 68, 78, 0, 78),
 ('guisborough (ts14 6ld)', 13, 35, 0, 35),
 ('rugby', 50, 55, 0, 55),
 ('warwick (cv34 5ah)', 23, 41, 0, 41),
 ('shipston-on-stour (cv36 5dz)', 24, 52, 0, 52),
 ('stratford-upon-avon', 66, 85, 0, 85),
 ('stratford-upon-avon (cv37 8bt)', 45, 75, 0, 75),
 ('rugby (cv21 2hg)', 19, 35, 0, 35),
 ('warwick (cv34 6rg)', 25, 43, 0, 43),
 ('rugby (cv21 1jx)', 18, 34, 0, 34),
 ('leamington spa (cv32 5qn)', 47, 72, 0, 72),
 ('atherstone (cv9 3bh)', 54, 74, 0, 74),
 ('warwick', 67, 74, 0, 74),
 ('sheffield (s5 9nf)', 63, 81, 0, 81),
 ('rotherham (s60 1dx)', 43, 62, 0, 62),
 ('sheffield (s13 9dp)', 49, 68, 0, 68),
 ('london (sw10 9lg)', 19, 36, 0, 36),
 ('london (w2 4np)', 20, 35, 0, 35),
 ('london (nw3 1qe)', 26, 42, 0, 42),
 ('london (w6 7pj)', 24, 39, 0, 39),
 ('london', 20, 26, 0, 26),
 ('london (w8 5jt)', 65, 80, 0, 80),
 ('london (n16 6dl)', 20, 36, 0, 36),
 ('london (nw3 6hy)', 37, 53, 0, 53),
 ('(w1u 6pq)', 31, 40, 0, 40),
 ('london', 99, 105, 0, 105),
 ('london', 54, 60, 0, 60),
 ('11 craven road', 17, 31, 0, 31),
 ('london (wc2a 1et)', 75, 92, 0, 92),
 ('london (n7 6aj)', 30, 45, 0, 45),
 ('london (w2 6et)', 20, 35, 0, 35),
 ('london', 47, 53, 0, 53),
 ('london (ec1n 8at)', 40, 57, 0, 57),
 ('london (sw3 6ed)', 22, 38, 0, 38),
 ('london (se10 9tz)', 35, 52, 0, 52),
 ('newmarket (cb8 8al)', 36, 55, 0, 55),
 ('chatteris', 41, 50, 0, 50),
 ('0s3871', 24, 30, 0, 30),
 ('ely (cb7 4et)', 28, 41, 0, 41),
 ('march', 39, 44, 0, 44),
 ('newmarket (cb8 9sg)', 47, 66, 0, 66),
 ('peterborough', 45, 57, 0, 57),
 ('cambridge (cb1 3nq)', 29, 48, 0, 48),
 ('peterborough (pe1 4yl)', 46, 68, 0, 68),
 ('peterborough (pe2 6ha)', 59, 81, 0, 81),
 ('wisbech', 36, 43, 0, 43),
 ('lolworth', 48, 56, 0, 56),
 ('march (pe15 9js)', 37, 53, 0, 53),
 ('swavesey', 45, 53, 0, 53),
 ('caldecote', 38, 47, 0, 47),
 ('cambridge (cb4 3jh)', 33, 52, 0, 52),
 ('milton', 56, 62, 0, 62),
 ('ely (cb6 3wh)', 17, 30, 0, 30),
 ('cambridge (cb4 1tt)', 15, 34, 0, 34),
 ('ely (cb6 3wt)', 18, 31, 0, 31),
 ('manchester (m15 6az)', 31, 51, 0, 51),
 ('altrincham', 126, 136, 0, 136),
 ('hyde (sk14 2bj)', 20, 35, 0, 35),
 ('hyde', 42, 46, 0, 46),
 ('manchester m4 6fq', 20, 37, 0, 37),
 ('manchester (m4 1dh)', 33, 52, 0, 52),
 ('manchester (m4 1dh)', 33, 52, 0, 52),
 ('manchester', 40, 50, 0, 50),
 ('manchester', 36, 46, 0, 46),
 ('cambridge (cb3 8dz)', 42, 61, 0, 61),
 ('ely (cb6 1qe)', 30, 43, 0, 43),
 ('ely (cb6 3wr)', 20, 33, 0, 33),
 ('wisbech', 32, 39, 0, 39),
 ('wisbech (pe14 9at)', 42, 60, 0, 60),
 ('peterborough (pe2 9en)', 37, 59, 0, 59),
 ('newmarket (cb8 9dg)', 42, 61, 0, 61),
 ('littleport (cb6 1ga)', 20, 40, 0, 40),
 ('march', 43, 48, 0, 48),
 ('peterborough (pe1 2np)', 19, 41, 0, 41),
 ('cambridge', 47, 56, 0, 56),
 ('newmarket (cb8 9rx)', 33, 52, 0, 52),
 ('stratford-upon-avon', 24, 43, 0, 43),
 ('warwick (cv34 6bt)', 60, 78, 0, 78),
 ('rugby (cv21 1dq)', 41, 57, 0, 57),
 ('leamington spa (cv32 4pg)', 36, 61, 0, 61),
 ('wolverhampton', 48, 61, 0, 61),
 ('willenhall', 40, 50, 0, 50),
 ('solihull (b91 2ee)', 34, 52, 0, 52),
 ('birmingham (b21 8bp)', 29, 49, 0, 49),
 ('wolverhampton (wv11 3hd)', 20, 44, 0, 44),
 ('coventry (cv5 7aa)', 14, 32, 0, 32),
 ('oldbury', 39, 46, 0, 46),
 ('birmingham (b27 7xw)', 19, 39, 0, 39),
 ('birmingham (b16 8dj)', 18, 38, 0, 38),
 ('halesowen (b62 9ss)', 47, 66, 0, 66),
 ('39 to 44 chapel street', 79, 101, 0, 101),
 ('birmingham (b29 6el)', 28, 48, 0, 48),
 ('solihull (b90 4nu)', 48, 66, 0, 66),
 ('birmingham', 62, 72, 0, 72),
 ('birmingham', 54, 64, 0, 64),
 ('sutton coldfield (b76 1qr)', 17, 43, 0, 43),
 ('london (sw10 0aj)', 15, 32, 0, 32),
 ('and 4 cavendish mews south', 19, 45, 0, 45),
 ('london (sw7 1ew)', 25, 41, 0, 41),
 ('london', 71, 77, 0, 77),
 ('london (w1t 3ne)', 41, 57, 0, 57),
 ('london (w2 3hu)', 23, 38, 0, 38),
 ('london (ec2a 4jh)', 33, 50, 0, 50),
 ('london (sw16 6ay)', 30, 47, 0, 47),
 ('london (sw17 8sn)', 17, 34, 0, 34),
 ('london (sw3 2sa)', 19, 35, 0, 35),
 ('london (n1 9pp)', 22, 37, 0, 37),
 ('london (w14 8nd)', 52, 68, 0, 68),
 ('london', 43, 49, 0, 49),
 ('london', 28, 34, 0, 34),
 ('london (sw7 4bj)', 26, 42, 0, 42),
 ('london (w2 3th)', 22, 37, 0, 37),
 ('london (se24 9nw)', 19, 36, 0, 36),
 ('london (sw4 9hx)', 19, 35, 0, 35),
 ('london (e8 3du)', 45, 60, 0, 60),
 ('march', 39, 44, 0, 44),
 ('march', 39, 44, 0, 44),
 ('peterborough (pe4 7ap)', 32, 54, 0, 54),
 ('cambridge', 46, 55, 0, 55),
 ('peterborough', 17, 29, 0, 29),
 ('llanelli (sa14 6rb)', 49, 68, 0, 68),
 ('newport (np20 1ga)', 19, 37, 0, 37),
 ('sandycroft', 49, 59, 0, 59),
 ('bull bay (ll68 9st)', 9, 28, 0, 28),
 ('bridgend', 47, 55, 0, 55),
 ('cardiff (cf3 9tw)', 41, 58, 0, 58),
 ('26', 244, 246, 0, 246),
 ('cardiff', 52, 59, 0, 59),
 ('merthyr tydfil (cf48 1ux)', 20, 45, 0, 45),
 ('swansea (sa1 3bp)', 19, 36, 0, 36),
 ('llanelli (sa15 1hu)', 21, 40, 0, 40),
 ('pontyclun (cf72 9eu)', 25, 45, 0, 45),
 ('llanelli (sa15 1hu)', 22, 41, 0, 41),
 ('st. ives (pe27 5ap)', 17, 36, 0, 36),
 ('cambridge (cb4 1up)', 14, 33, 0, 33),
 ('huntingdon', 46, 56, 0, 56),
 ('newmarket (cb8 8fz)', 16, 35, 0, 35),
 ('newmarket (cb8 8fz)', 16, 35, 0, 35),
 ('ely (cb7 4se)', 43, 56, 0, 56),
 ('royston', 48, 55, 0, 55),
 ('royston', 48, 55, 0, 55),
 ('royston', 48, 55, 0, 55),
 ('royston', 48, 55, 0, 55),
 ('royston', 48, 55, 0, 55),
 ('royston', 48, 55, 0, 55),
 ('cambridge', 47, 56, 0, 56),
 ('royston', 48, 55, 0, 55),
 ('peterborough (pe1 1sq)', 18, 40, 0, 40),
 ('st neots (pe19 6ah)', 80, 99, 0, 99),
 ('huntingdon (pe29 2uu)', 43, 64, 0, 64),
 ('royston', 49, 56, 0, 56),
 ('cambridge (cb2 8dt)', 23, 42, 0, 42),
 ('huntingdon (pe29 1qw)', 25, 46, 0, 46),
 ('cambridge', 46, 55, 0, 55),
 ('birmingham', 61, 71, 0, 71),
 ('darlaston', 54, 63, 0, 63),
 ('wolverhampton', 60, 73, 0, 73),
 ('wolverhampton (wv1 3er)', 21, 44, 0, 44),
 ('bilston (wv14 6ag)', 20, 38, 0, 38),
 ('birmingham (b25 8ut)', 26, 46, 0, 46),
 ('coventry (cv1 4by)', 16, 34, 0, 34),
 ('halesowen', 79, 88, 0, 88),
 ('lye', 58, 61, 0, 61),
 ('darlaston', 43, 52, 0, 52),
 ('dudley (dy1 1dz)', 27, 43, 0, 43),
 ('birmingham (b14 7bu)', 41, 61, 0, 61),
 ('birmingham', 72, 82, 0, 82),
 ('birmingham (b16 9bb)', 18, 38, 0, 38),
 ('sheffield (s9 2eh)', 44, 62, 0, 62),
 ('sheffield', 47, 56, 0, 56),
 ('maltby', 43, 49, 0, 49),
 ('sheffield', 43, 52, 0, 52),
 ('sheffield', 37, 46, 0, 46),
 ('sheffield', 51, 60, 0, 60),
 ('doncaster (dn1 3pb)', 17, 36, 0, 36),
 ('london (sw6 3tn)', 21, 37, 0, 37),
 ('london (sw10 9jg)', 18, 35, 0, 35),
 ('london (w2 5ae)', 19, 34, 0, 34),
 ('london (nw5 2bj)', 41, 57, 0, 57),
 ('london (w2 3lb)', 22, 37, 0, 37),
 ('london (w1u 1nd)', 27, 43, 0, 43),
 ('london (w2 3qb)', 38, 53, 0, 53),
 ('london (w11 1qu)', 20, 36, 0, 36),
 ('salford (m5 4sl)', 32, 48, 0, 48),
 ('salford (m5 4sl)', 32, 48, 0, 48),
 ('salford (m5 4sl)', 32, 48, 0, 48),
 ('salford (m5 4uy)', 32, 48, 0, 48),
 ('salford (m5 4yl)', 32, 48, 0, 48),
 ('salford (m5 4yl)', 32, 48, 0, 48),
 ('salford (m5 4yl)', 32, 48, 0, 48),
 ('salford (m5 4yl)', 32, 48, 0, 48),
 ('salford (m5 4yl)', 32, 48, 0, 48),
 ('salford (m5 4yl)', 32, 48, 0, 48),
 ('llanrwst (ll26 0ls)', 18, 37, 0, 37),
 ('denbigh (ll16 3jr)', 10, 28, 0, 28),
 ('swansea (sa6 5pl)', 28, 45, 0, 45),
 ('llanbradach', 55, 66, 0, 66),
 ('pontyclun (cf72 9et)', 25, 45, 0, 45),
 ('pontyclun (cf72 9eu)', 26, 46, 0, 46),
 ('cardiff', 50, 57, 0, 57),
 ('lampeter', 44, 52, 0, 52),
 ('blaina', 75, 81, 0, 81),
 ('pontyclun', 28, 37, 0, 37),
 ('bodorgan', 24, 32, 0, 32),
 ('wrexham', 52, 59, 0, 59),
 ('cardiff (cf14 5dz)', 34, 52, 0, 52),
 ('pontypridd', 20, 30, 0, 30),
 ('corwen (ll21 0na)', 23, 40, 0, 40),
 ('swansea (sa1 5sq)', 18, 35, 0, 35),
 ('newcastle emlyn (sa38 9ap)', 31, 57, 0, 57),
 ('uplands (sa2 0ey)', 21, 38, 0, 38),
 ('wrexham (ll13 7hn)', 98, 116, 0, 116),
 ('pwllheli (ll53 7dx)', 48, 67, 0, 67),
 ('newmarket (cb8 9sa)', 30, 49, 0, 49),
 ('st ives (pe27 5se)', 46, 64, 0, 64),
 ('peterborough (pe2 8ny)', 19, 41, 0, 41),
 ('st neots (pe19 2jt)', 163, 182, 0, 182),
 ('peterborough (pe2 8ns)', 18, 40, 0, 40),
 ('peterborough (pe2 8ny)', 19, 41, 0, 41),
 ('peterborough (pe2 8ny)', 19, 41, 0, 41),
 ('peterborough (pe2 8ny)', 19, 41, 0, 41),
 ('peterborough (pe2 8ns)', 18, 40, 0, 40),
 ('peterborough (pe2 8ns)', 18, 40, 0, 40),
 ('peterborough (pe2 8ne)', 17, 39, 0, 39),
 ('cambridge (cb22 3tj)', 88, 108, 0, 108),
 ('cambridge (cb22 3tj)', 76, 96, 0, 96),
 ('bournbrook (b29 6dp)', 77, 97, 0, 97),
 ('birmingham b5 5se', 34, 51, 0, 51),
 ('birmingham (b35 6lj)', 39, 59, 0, 59),
 ('exhall', 53, 59, 0, 59),
 ('(cv32 4pg)', 44, 54, 0, 54),
 ('leamington spa (cv32 4bg)', 20, 45, 0, 45),
 ('sheffield  (s1 2gh)', 29, 48, 0, 48),
 ('sheffield', 29, 38, 0, 38),
 ('sheffield', 57, 66, 0, 66),
 ('barnsley', 85, 93, 0, 93),
 ('sheffield', 34, 43, 0, 43),
 ('barnsley', 33, 41, 0, 41),
 ('dodworth', 43, 51, 0, 51),
 ('scawsby', 41, 48, 0, 48),
 ('sheffield', 34, 43, 0, 43),
 ('sheffield (s11 7bs)', 33, 52, 0, 52),
 ('sheffield', 22, 31, 0, 31),
 ('sheffield (s2 4eg)', 17, 35, 0, 35),
 ('barnsley', 70, 78, 0, 78),
 ('rotherham', 40, 49, 0, 49),
 ('rotherham (s62 6ew)', 42, 61, 0, 61),
 ('thorne', 50, 56, 0, 56),
 ('sheffield', 46, 55, 0, 55),
 ('sheffield', 51, 60, 0, 60),
 ('sheffield (s1 4ea)', 22, 40, 0, 40),
 ('sheffield', 23, 32, 0, 32),
 ('milton keynes (mk17 8ew)', 58, 82, 0, 82),
 ('gerrards cross', 33, 47, 0, 47),
 ('aylesbury (hp20 1ln)', 48, 68, 0, 68),
 ('high wycombe', 56, 68, 0, 68),
 ('loudwater (hp10 9qy)', 59, 79, 0, 79),
 ('amersham', 31, 39, 0, 39),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 33, 45, 0, 45),
 ('marlow', 49, 55, 0, 55),
 ('milton keynes (mk9 4au)', 78, 101, 0, 101),
 ('milton keynes (mk10 7az)', 30, 54, 0, 54),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 34, 46, 0, 46),
 ('high wycombe', 33, 45, 0, 45),
 ('milton keynes', 51, 64, 0, 64),
 ('high wycombe', 33, 45, 0, 45),
 ('ammanford (sa18 1le)', 57, 77, 0, 77),
 ('conwy (ll31 9tp)', 36, 52, 0, 52),
 ('(ll30 2py)', 41, 51, 0, 51),
 ('(cf3 0ny)', 38, 47, 0, 47),
 ('swansea (sa7 9uz)', 33, 50, 0, 50),
 ('chester', 48, 55, 0, 55),
 ('port talbot (sa13 2ba)', 14, 36, 0, 36),
 ('menai bridge', 34, 46, 0, 46),
 ('(sa43 1ls)', 25, 35, 0, 35),
 ('(ch4 0qn)', 45, 54, 0, 54),
 ('birmingham (b28 0pp)', 30, 50, 0, 50),
 ('birmingham (b29 6ep)', 17, 37, 0, 37),
 ('kingston upon thames (kt2 5nh)', 28, 58, 0, 58),
 ('sutton (sm1 1hn)', 15, 31, 0, 31),
 ('keston (br2 6ar)', 41, 57, 0, 57),
 ('london (sw20 8nd)', 41, 58, 0, 58),
 ('london (sw19 8gu)', 40, 57, 0, 57),
 ('london (sw19 8bf)', 25, 42, 0, 42),
 ('croydon (cr0 7du)', 23, 40, 0, 40),
 ('chislehurst (br7 6az)', 15, 36, 0, 36),
 ('birmingham (b29 6et)', 17, 37, 0, 37),
 ('birmingham (b29 6hq)', 32, 52, 0, 52),
 ('birmingham (b11 3pt)', 17, 37, 0, 37),
 ('solihull (b94 5nx)', 36, 54, 0, 54),
 ('rowington', 57, 66, 0, 66),
 ('(cv21 1hw)', 34, 44, 0, 44),
 ('warwick', 46, 53, 0, 53),
 ('leamington spa (cv33 9dp)', 23, 48, 0, 48),
 ('rugby (cv21 3en)', 19, 35, 0, 35),
 ('coleshill', 40, 49, 0, 49),
 ('rugby', 48, 53, 0, 53),
 ('atherstone (cv9 1az)', 24, 44, 0, 44),
 ('warwick', 62, 69, 0, 69),
 ('atherstone (cv9 2ab)', 51, 71, 0, 71),
 ('southam (cv47 0rb)', 75, 93, 0, 93),
 ('warwick (cv34 6tw)', 37, 55, 0, 55),
 ('rugby (cv21 1dz)', 20, 36, 0, 36),
 ('rugby (cv23 0ab)', 37, 53, 0, 53),
 ('warwick', 47, 54, 0, 54),
 ('sheffield', 48, 57, 0, 57),
 ('sheffield', 52, 61, 0, 61),
 ('sheffield', 57, 66, 0, 66),
 ('sheffield (s20 3ga)', 37, 56, 0, 56),
 ('sheffield (s1 4bb)', 41, 59, 0, 59),
 ('sheffield', 61, 70, 0, 70),
 ('doncaster (dn11 0ez)', 54, 74, 0, 74),
 ('rotherham (s62 6ej)', 48, 67, 0, 67),
 ('sheffield (s8 0zs)', 62, 80, 0, 80),
 ('sheffield', 38, 47, 0, 47),
 ('sheffield (s5 0ae)', 17, 35, 0, 35),
 ('sheffield (s11 9bx)', 26, 45, 0, 45),
 ('sheffield', 48, 57, 0, 57),
 ('sheffield (s10 3qx)', 25, 44, 0, 44),
 ('doncaster', 50, 59, 0, 59),
 ('sheffield', 37, 46, 0, 46),
 ('barnsley (s71 5pn)', 21, 39, 0, 39),
 ('rotherham (s63 5dl)', 35, 54, 0, 54),
 ('london (sw3 2ng)', 16, 32, 0, 32),
 ('london (sw5 9bq)', 22, 38, 0, 38),
 ('london (ec2a 3lt)', 50, 67, 0, 67),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 34, 46, 0, 46),
 ('high wycombe', 34, 46, 0, 46),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 33, 45, 0, 45),
 ('high wycombe', 34, 46, 0, 46),
 ('high wycombe', 34, 46, 0, 46),
 ('high wycombe', 34, 46, 0, 46),
 ('longwick (hp27 9rl)', 49, 68, 0, 68),
 ('milton keynes (mk10 7bz)', 34, 58, 0, 58),
 ('milton keynes (mk12 5lx)', 31, 55, 0, 55),
 ('milton keynes (mk17 0pp)', 53, 77, 0, 77),
 ('gerrards cross', 41, 55, 0, 55),
 ('milton keynes (mk8 0ab)', 29, 52, 0, 52),
 ('buckingham', 45, 55, 0, 55),
 ('slough (sl2 4ll)', 46, 62, 0, 62),
 ('buckingham', 40, 50, 0, 50),
 ('milton keynes (mk10 7dx)', 47, 71, 0, 71),
 ('high wycombe', 34, 46, 0, 46),
 ('high wycombe hp11 1gh', 39, 60, 0, 60),
 ('newcastle upon tyne (ne27 0le)', 63, 93, 0, 93),
 ('sutton (sm2 7af)', 15, 31, 0, 31),
 ('london (sw19 8ea)', 42, 59, 0, 59),
 ('london (sw19 8rl)', 25, 42, 0, 42),
 ('london (se25 6ez)', 16, 33, 0, 33),
 ('bromley', 48, 55, 0, 55),
 ('croydon (cr0 6ba)', 61, 78, 0, 78),
 ('purley (cr8 4aq)', 20, 36, 0, 36),
 ('croydon (cr0 1he)', 28, 45, 0, 45),
 ('bromley (br1 3bd)', 40, 57, 0, 57),
 ('london (sw20 8lr)', 28, 45, 0, 45),
 ('morden (sm4 5dj)', 34, 50, 0, 50),
 ('beckenham', 38, 47, 0, 47),